# Data Cleaning

In [1]:
import pandas as pd
import numpy as np 
import csv
import re
import string

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

In [2]:
path = '/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/h01-20200818-153021.csv'
data = pd.read_csv(path, low_memory=False)

In [3]:
data.shape

(19992, 79)

In [4]:
cols = [1, 3, 4, 5,6, 7, 8, 14, 15, 16, 17, 18, 19, 22, 30, 31, 32, 34, 35, 36, 41, 42, 43, 45, 51, 52, 53, 54, 55, 56, 58, 63, 64, 65, 67, 73, 74, 75, 76, 77]

In [5]:
data = data[data.columns.values[cols]]

In [6]:
data

,id,is_quote_tweet,quoted_tweet_id,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,place_full_name,place_country_code,coordinates,...,QT_lang,QT_user_id,QT_username,QT_name,QT_location,QT_place_full_name,QT_place_country_code,QT_coordinates,QT_text,QT_full_text
0,1295805209722183684,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1295805209738911745,True,1.295733e+18,NaN,NaN,NaN,und,"Rossville, MD",US,NaN,...,en,2.968145e+08,HealthyFla,Florida Dept. Health,"Tallahassee, FL",NaN,NaN,NaN,Wearing a mask correctly can prevent the sprea...,Wearing a mask correctly can prevent the sprea...
2,1295805209852215297,False,NaN,NaN,NaN,NaN,es,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1295805209596366848,True,1.295797e+18,NaN,7.852330e+07,RealJamesWoods,und,NaN,NaN,NaN,...,en,1.220829e+18,AZKAYTE,AZKayte,Rent Free in Libs Heads,NaN,NaN,NaN,🔥ON FIRE!🔥\n\n#CarlosZapata (not Picatta) from...,🔥ON FIRE!🔥\n\n#CarlosZapata (not Picatta) from...
4,1295805209940299776,False,NaN,1.295688e+18,9.227776e+17,PierolaMarcelo,es,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19987,1295806236273840128,True,1.295802e+18,NaN,NaN,NaN,it,NaN,NaN,NaN,...,it,1.214241e+08,La7tv,La7,Italy,NaN,NaN,NaN,#inonda @DSantanche è pessimista sulla riapert...,NaN
19988,1295806236416528384,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19989,1295806236349390850,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19990,1295806236504535041,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19991,1295806236068327424,True,1.295256e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,3.806486e+08,AFP,AFP news agency,France,NaN,NaN,NaN,Wuhan wave.\n\nPeople watch a performance as t...,NaN

In [7]:
data.shape

(19992, 40)

In [8]:
data['lang'].value_counts()

en     11229
es      4317
pt      1518
ja       539
und      468
fr       338
tr       256
de       204
it       190
nl       181
ko       162
hi       153
ar        93
ca        55
tl        48
in        39
pl        38
zh        19
el        18
ru        16
ro        13
ht        10
sv        10
et        10
cs         8
sl         7
ur         6
da         6
eu         5
cy         5
th         5
lv         3
fi         3
mr         3
bn         3
ta         3
hu         2
no         2
vi         1
te         1
is         1
uk         1
fa         1
my         1
ne         1
Name: lang, dtype: int64

In [9]:
data[data['lang'] == 'en'].shape

(11229, 40)

In [10]:
data_en = data[data['lang'] == 'en'].reset_index(drop=True)

In [11]:
data_en

,id,is_quote_tweet,quoted_tweet_id,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,place_full_name,place_country_code,coordinates,...,QT_lang,QT_user_id,QT_username,QT_name,QT_location,QT_place_full_name,QT_place_country_code,QT_coordinates,QT_text,QT_full_text
0,1295805209722183684,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1295805209545932802,True,1.295540e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,9.390910e+05,JoeBiden,Joe Biden,"Wilmington, DE",NaN,NaN,NaN,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
2,1295805210040897536,True,1.295798e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,3.988421e+08,ITROutlook,ITR Economics®,"Manchester, NH",NaN,NaN,NaN,“Our forecast for the US economy ... reflects ...,“Our forecast for the US economy ... reflects ...
3,1295805209923530763,True,1.295572e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,5.881261e+07,LOUISAGUIRRE,Louis Aguirre,Los Angeles,NaN,NaN,NaN,Miami Dade’s antiquated storm drain system dum...,Miami Dade’s antiquated storm drain system dum...
4,1295805209634119681,True,1.295673e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,2.902877e+09,barneyjiri,MANIFESTOR,High frequency,NaN,NaN,NaN,Gold Reef City would make the money they’ve l...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11224,1295806236173238273,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11225,1295806236416528384,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11226,1295806236349390850,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11227,1295806236504535041,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11228,1295806236068327424,True,1.295256e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,3.806486e+08,AFP,AFP news agency,France,NaN,NaN,NaN,Wuhan wave.\n\nPeople watch a performance as t...,NaN

In [12]:
data_en['RT_Flag'] = data_en['text'].str[:2]=='RT'

In [13]:
data_en.shape

(11229, 41)

##### is_quote_tweet --> False --> Non RT

In [14]:
interim = data_en[np.where((data_en['is_quote_tweet']==False) & (data_en['RT_Flag']==False),True,False)].reset_index(drop=True)

In [15]:
interim['extended_tweet_full_text'] = np.where(~interim['truncated'],interim['text'],interim['extended_tweet_full_text'])

In [16]:
interim.shape

(2953, 41)

In [17]:
non_rep = interim[['id','user_id', 'coordinates', 'location', 'extended_tweet_full_text']]

In [18]:
non_rep.shape

(2953, 5)

In [19]:
non_rep

,id,user_id,coordinates,location,extended_tweet_full_text
0,1295805209722183684,1278716218766213123,NaN,NaN,can we wear clone helmets instead of masks to ...
1,1295805210552602630,919107205,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...
2,1295805210841899008,437895421,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T..."
3,1295805210452000769,2580087782,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...
4,1295805210997272577,85601740,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...
...,...,...,...,...,...
2948,1295806234654904320,1249345381688848386,NaN,NaN,@annatodd @aftermovie Can you tell us about th...
2949,1295806234961076224,773480035231666177,NaN,United Kingdom,This is a great time to join our exciting life...
2950,1295806235476987904,900434878386319361,NaN,"Las Vegas, NV","Even though there have been a few cases, COVID..."
2951,1295806236173238273,1708692672,NaN,"DC habitant, now Florida, USA","Covid is raging in Florida, and I just got a c..."
2952,1295806236416528384,177278400,NaN,NaN,I thought I’d like working from home for these...

In [20]:
non_rep.drop_duplicates(['id']).shape

(2953, 5)

In [21]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

##### is_quote_tweet --> False --> RT

In [22]:
interim = data_en[np.where((data_en['is_quote_tweet']== False) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [23]:
interim.shape

(5589, 41)

In [24]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Me in Quarantine vs the story I'll tell my gra...,NaN
1,"Trust us. This time the data is good.\n\n2020,...","Trust us. This time the data is good.\n\n2020,..."
2,I can’t believe China is partying and America ...,I can’t believe China is partying and America ...
3,Me in Quarantine vs the story I'll tell my gra...,NaN
4,pregnancy and corona really neck and neck for ...,NaN
...,...,...
5584,"Florida reported 26,164 COVID-19 tests today w...","Florida reported 26,164 COVID-19 tests today w..."
5585,"Happy that netball is back next month, but now...","Happy that netball is back next month, but now..."
5586,"The best ""own"" that Trump has is that Michelle...","The best ""own"" that Trump has is that Michelle..."
5587,Lessons from covid:\n\nLife is an absolute gif...,Lessons from covid:\n\nLife is an absolute gif...
5588,it’s a good thing tattoo parlors are closed du...,it’s a good thing tattoo parlors are closed du...

In [25]:
interim['RT_full_text'] = np.where(interim['RT_full_text'].isna(),interim['RT_text'],interim['RT_full_text'])

In [26]:
interim = interim[['RT_id','RT_user_id', 'RT_coordinates', 'RT_location','RT_full_text']]

In [27]:
interim

,RT_id,RT_user_id,RT_coordinates,RT_location,RT_full_text
0,1.295085e+18,1.156820e+09,NaN,NaN,Me in Quarantine vs the story I'll tell my gra...
1,1.295767e+18,1.847898e+08,NaN,San Francisco,"Trust us. This time the data is good.\n\n2020,..."
2,1.295797e+18,2.581637e+07,NaN,"Manhattan, New York",I can’t believe China is partying and America ...
3,1.295085e+18,1.156820e+09,NaN,NaN,Me in Quarantine vs the story I'll tell my gra...
4,1.295717e+18,2.146847e+08,NaN,NaN,pregnancy and corona really neck and neck for ...
...,...,...,...,...,...
5584,1.295743e+18,1.011971e+18,NaN,"Santa Rosa Beach, FL","Florida reported 26,164 COVID-19 tests today w..."
5585,1.295780e+18,9.655223e+07,NaN,London,"Happy that netball is back next month, but now..."
5586,1.295745e+18,2.378455e+08,NaN,"Broadway - New York, NY","The best ""own"" that Trump has is that Michelle..."
5587,1.295790e+18,9.286375e+17,NaN,Ladysmith South Africa,Lessons from covid:\n\nLife is an absolute gif...
5588,1.295538e+18,2.536561e+09,NaN,she/her,it’s a good thing tattoo parlors are closed du...

In [28]:
interim = interim.drop_duplicates(['RT_id']).reset_index(drop=True)

In [29]:
interim.shape

(2272, 5)

In [30]:
interim.columns = non_rep.columns

In [31]:
non_rep = non_rep.append(interim,ignore_index=True)

In [32]:
non_rep.shape

(5225, 5)

In [33]:
non_rep['id'].value_counts()

1.295806e+18    2
1.295805e+18    2
1.295806e+18    2
1.295806e+18    2
1.295806e+18    2
               ..
1.294645e+18    1
1.295786e+18    1
1.295572e+18    1
1.295805e+18    1
1.295776e+18    1
Name: id, Length: 5113, dtype: int64

In [34]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [35]:
non_rep.shape

(5114, 5)

##### is_quote_tweet --> True --> Non RT

In [36]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)

In [37]:
interim.shape

(923, 41)

In [38]:
interim['extended_tweet_full_text'] = np.where(~interim['truncated'],interim['text'],interim['extended_tweet_full_text'])

In [39]:
interim = interim[['id','user_id', 'coordinates', 'location', 'extended_tweet_full_text']]

In [40]:
interim.columns = non_rep.columns

In [41]:
interim.shape

(923, 5)

In [42]:
interim = interim.drop_duplicates(['id']).reset_index(drop=True)

In [43]:
interim.shape

(923, 5)

In [44]:
non_rep = non_rep.append(interim,ignore_index=True)

In [45]:
non_rep.shape

(6037, 5)

In [46]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [47]:
non_rep.shape

(6036, 5)

In [48]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)

In [49]:
interim.shape

(923, 41)

In [50]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,“Our forecast for the US economy ... reflects ...,“Our forecast for the US economy ... reflects ...
1,Miami Dade’s antiquated storm drain system dum...,Miami Dade’s antiquated storm drain system dum...
2,Our Department will be opening up many of its ...,Our Department will be opening up many of its ...
3,I’m on a call with @SenBobCasey and @PAAttorne...,I’m on a call with @SenBobCasey and @PAAttorne...
4,my bf never missed a apt❤️ except for today ca...,NaN
...,...,...
918,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...,NaN
919,Never thought I would see the day I was sharin...,Never thought I would see the day I was sharin...
920,"కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల...","కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల..."
921,@realDonaldTrump The Trump Virus is making Ame...,@realDonaldTrump The Trump Virus is making Ame...
922,Wuhan wave.\n\nPeople watch a performance as t...,NaN

In [51]:
interim['QT_full_text'] = np.where(interim['QT_full_text'].isna(),interim['QT_text'],interim['QT_full_text'])

In [52]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,“Our forecast for the US economy ... reflects ...,“Our forecast for the US economy ... reflects ...
1,Miami Dade’s antiquated storm drain system dum...,Miami Dade’s antiquated storm drain system dum...
2,Our Department will be opening up many of its ...,Our Department will be opening up many of its ...
3,I’m on a call with @SenBobCasey and @PAAttorne...,I’m on a call with @SenBobCasey and @PAAttorne...
4,my bf never missed a apt❤️ except for today ca...,my bf never missed a apt❤️ except for today ca...
...,...,...
918,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...
919,Never thought I would see the day I was sharin...,Never thought I would see the day I was sharin...
920,"కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల...","కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల..."
921,@realDonaldTrump The Trump Virus is making Ame...,@realDonaldTrump The Trump Virus is making Ame...
922,Wuhan wave.\n\nPeople watch a performance as t...,Wuhan wave.\n\nPeople watch a performance as t...

In [53]:
interim = interim[['QT_id','QT_user_id', 'QT_coordinates', 'QT_location', 'QT_full_text']]

In [54]:
interim

,QT_id,QT_user_id,QT_coordinates,QT_location,QT_full_text
0,1.295798e+18,3.988421e+08,NaN,"Manchester, NH",“Our forecast for the US economy ... reflects ...
1,1.295572e+18,5.881261e+07,NaN,Los Angeles,Miami Dade’s antiquated storm drain system dum...
2,1.295707e+18,7.054442e+17,NaN,"University Park, PA",Our Department will be opening up many of its ...
3,1.295789e+18,2.978838e+09,NaN,"Harrisburg, PA",I’m on a call with @SenBobCasey and @PAAttorne...
4,1.295805e+18,1.245075e+18,NaN,NaN,my bf never missed a apt❤️ except for today ca...
...,...,...,...,...,...
918,1.295805e+18,1.200873e+18,NaN,Ghana,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...
919,1.295721e+18,1.207341e+18,NaN,NaN,Never thought I would see the day I was sharin...
920,1.295729e+18,2.558684e+09,NaN,Hyderabad,"కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల..."
921,1.295793e+18,1.225147e+18,NaN,NaN,@realDonaldTrump The Trump Virus is making Ame...
922,1.295256e+18,3.806486e+08,NaN,France,Wuhan wave.\n\nPeople watch a performance as t...

In [55]:
interim = interim.drop_duplicates(['QT_id']).reset_index(drop=True)

In [56]:
interim.shape

(680, 5)

In [57]:
interim.columns = non_rep.columns

In [58]:
non_rep = non_rep.append(interim,ignore_index=True)

In [59]:
non_rep.shape

(6716, 5)

In [60]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [61]:
non_rep.shape

(6553, 5)

##### is_quote_tweet --> True --> RT

In [62]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [63]:
interim.shape

(1764, 41)

In [64]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Biden thanks Cuomo. The AP recently estimated ...,Biden thanks Cuomo. The AP recently estimated ...
1,Nothing that includes men at night is worth it,NaN
2,".If they can't count tests properly, how can t...",NaN
3,Remember..Kim Klacik's husband Jeff Klacik is ...,Remember..Kim Klacik's husband Jeff Klacik is ...
4,The “I want female rappers with substance” cro...,NaN
...,...,...
1759,@drharshvardhan @myogiadityanath @republic @Re...,@drharshvardhan @myogiadityanath @republic @Re...
1760,Join us tonight at 8pm! Let's talk about back ...,NaN
1761,"How BLOODY CORRUPT doe's it have to be, Wuhan ...",NaN
1762,"More than 10,000 Texans have died from covid, ...","More than 10,000 Texans have died from covid, ..."
1763,Freeport need a hospital ASAP\n\nRehire all ju...,Freeport need a hospital ASAP\n\nRehire all ju...

In [65]:
interim['RT_full_text'] = np.where(interim['RT_full_text'].isna(),interim['RT_text'],interim['RT_full_text'])

In [66]:
interim.shape

(1764, 41)

In [67]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Biden thanks Cuomo. The AP recently estimated ...,Biden thanks Cuomo. The AP recently estimated ...
1,Nothing that includes men at night is worth it,Nothing that includes men at night is worth it
2,".If they can't count tests properly, how can t...",".If they can't count tests properly, how can t..."
3,Remember..Kim Klacik's husband Jeff Klacik is ...,Remember..Kim Klacik's husband Jeff Klacik is ...
4,The “I want female rappers with substance” cro...,The “I want female rappers with substance” cro...
...,...,...
1759,@drharshvardhan @myogiadityanath @republic @Re...,@drharshvardhan @myogiadityanath @republic @Re...
1760,Join us tonight at 8pm! Let's talk about back ...,Join us tonight at 8pm! Let's talk about back ...
1761,"How BLOODY CORRUPT doe's it have to be, Wuhan ...","How BLOODY CORRUPT doe's it have to be, Wuhan ..."
1762,"More than 10,000 Texans have died from covid, ...","More than 10,000 Texans have died from covid, ..."
1763,Freeport need a hospital ASAP\n\nRehire all ju...,Freeport need a hospital ASAP\n\nRehire all ju...

In [68]:
interim = interim[['RT_id','RT_user_id', 'RT_coordinates', 'RT_location','RT_full_text']]

In [69]:
interim

,RT_id,RT_user_id,RT_coordinates,RT_location,RT_full_text
0,1.295540e+18,5.919733e+08,NaN,"Washington, DC",Biden thanks Cuomo. The AP recently estimated ...
1,1.295752e+18,1.699632e+09,NaN,Johannesburg,Nothing that includes men at night is worth it
2,1.295743e+18,1.254551e+08,NaN,USA,".If they can't count tests properly, how can t..."
3,1.295800e+18,1.694849e+07,NaN,Los Angeles,Remember..Kim Klacik's husband Jeff Klacik is ...
4,1.295401e+18,2.975633e+07,NaN,"Negro, Please USA",The “I want female rappers with substance” cro...
...,...,...,...,...,...
1759,1.295806e+18,1.247131e+18,NaN,NaN,@drharshvardhan @myogiadityanath @republic @Re...
1760,1.295782e+18,5.495877e+08,NaN,"Toronto, ON Canada",Join us tonight at 8pm! Let's talk about back ...
1761,1.295723e+18,1.249334e+18,NaN,England🏴󠁧󠁢󠁥󠁮󠁧󠁿,"How BLOODY CORRUPT doe's it have to be, Wuhan ..."
1762,1.295806e+18,3.428633e+08,NaN,"El Paso, TX","More than 10,000 Texans have died from covid, ..."
1763,1.295778e+18,7.660720e+17,NaN,Bahamas,Freeport need a hospital ASAP\n\nRehire all ju...

In [70]:
interim = interim.drop_duplicates(['RT_id']).reset_index(drop=True)

In [71]:
interim.shape

(812, 5)

In [72]:
interim.columns = non_rep.columns

In [73]:
non_rep = non_rep.append(interim,ignore_index=True)

In [74]:
non_rep.shape

(7365, 5)

In [75]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [76]:
non_rep.shape

(7297, 5)

In [77]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [78]:
interim.shape

(1764, 41)

In [79]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
1,Gold Reef City would make the money they’ve l...,NaN
2,North Carolina is now reporting they OVERCOUNT...,NaN
3,Data shows a low % of children in single paren...,Data shows a low % of children in single paren...
4,Watch @iamCardiB and @JoeBiden talk police bru...,NaN
...,...,...
1759,Lakhs of students asking you for NOT taking Ex...,Lakhs of students asking you for NOT taking Ex...
1760,Join us Tuesday for an important back-to-schoo...,NaN
1761,"Due to the laughable ""recount"" of deaths in th...","Due to the laughable ""recount"" of deaths in th..."
1762,"As an ER doc, I've seen countless people die f...","As an ER doc, I've seen countless people die f..."
1763,https://t.co/K25QaQYTtz,NaN

In [80]:
interim['QT_full_text'] = np.where(interim['QT_full_text'].isna(),interim['QT_text'],interim['QT_full_text'])

In [81]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
1,Gold Reef City would make the money they’ve l...,Gold Reef City would make the money they’ve l...
2,North Carolina is now reporting they OVERCOUNT...,North Carolina is now reporting they OVERCOUNT...
3,Data shows a low % of children in single paren...,Data shows a low % of children in single paren...
4,Watch @iamCardiB and @JoeBiden talk police bru...,Watch @iamCardiB and @JoeBiden talk police bru...
...,...,...
1759,Lakhs of students asking you for NOT taking Ex...,Lakhs of students asking you for NOT taking Ex...
1760,Join us Tuesday for an important back-to-schoo...,Join us Tuesday for an important back-to-schoo...
1761,"Due to the laughable ""recount"" of deaths in th...","Due to the laughable ""recount"" of deaths in th..."
1762,"As an ER doc, I've seen countless people die f...","As an ER doc, I've seen countless people die f..."
1763,https://t.co/K25QaQYTtz,https://t.co/K25QaQYTtz

In [82]:
interim = interim[['QT_id','QT_user_id', 'QT_coordinates', 'QT_location', 'QT_full_text']]

In [83]:
interim

,QT_id,QT_user_id,QT_coordinates,QT_location,QT_full_text
0,1.295540e+18,9.390910e+05,NaN,"Wilmington, DE",".@AndrewCuomo, thank you for your leadership a..."
1,1.295673e+18,2.902877e+09,NaN,High frequency,Gold Reef City would make the money they’ve l...
2,1.295721e+18,1.196555e+08,NaN,USA,North Carolina is now reporting they OVERCOUNT...
3,1.295315e+18,1.259714e+09,NaN,Mary Land,Data shows a low % of children in single paren...
4,1.295368e+18,2.397873e+07,NaN,"Brooklyn, NY",Watch @iamCardiB and @JoeBiden talk police bru...
...,...,...,...,...,...
1759,1.295692e+18,1.421498e+09,NaN,"Patna, India",Lakhs of students asking you for NOT taking Ex...
1760,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...
1761,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th..."
1762,1.295278e+18,9.539242e+17,NaN,"NYC, California, Arizona","As an ER doc, I've seen countless people die f..."
1763,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz

In [84]:
interim = interim.drop_duplicates(['QT_id']).reset_index(drop=True)

In [85]:
interim.shape

(641, 5)

In [86]:
interim.columns = non_rep.columns

In [87]:
non_rep = non_rep.append(interim,ignore_index=True)

In [88]:
non_rep.shape

(7938, 5)

In [89]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [90]:
non_rep.shape

(7746, 5)

non_rep.to_csv('/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/final(Cleaned)_h01-20200818-153021.csv',index=False)

In [91]:
non_rep

,id,user_id,coordinates,location,extended_tweet_full_text
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T..."
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...
...,...,...,...,...,...
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...
7742,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ..."
7743,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th..."
7745,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz

#####  1. Casing (Upper or lower case)
##### 2. Noise Removal (Removal of punctuation, white spaces, special characters, HTML tags)
##### 3. Tokenization (Tweets to tokens i.e. words seprated by spaces)
##### 4. Stopword Removal
##### 5. Text Normalization (Stemming and Lemmatization)

In [92]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import emoji

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

import warnings
warnings.filterwarnings("ignore")

import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])
#demoji.download_codes()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [93]:
cleaned_data = non_rep.copy()

In [94]:
cleaned_data['extended_tweet_full_text_duplicate'] = cleaned_data['extended_tweet_full_text']

In [95]:
#Convert to lower case
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.lower()

In [96]:
#Removing emojis
def demoji(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
                               "]+", flags=re.UNICODE)
    return(emoji_pattern.sub(r'', text))

cleaned_data[u'extended_tweet_full_text'] = cleaned_data[u'extended_tweet_full_text'].astype(str)
cleaned_data[u'extended_tweet_full_text'] = cleaned_data[u'extended_tweet_full_text'].apply(lambda x:demoji(x))

In [97]:
#Remove URLs
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.replace(r"http\S+| www\S+| https\S+| \S+\.com\S+| \S+\.com", "", regex=True)

In [98]:
#Remove user @
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.replace(r'\@[\w]+', "", regex=True)

In [99]:
#Remove punctuations
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.translate(str.maketrans("", "", string.punctuation))

In [100]:
#More Cleaning
cleaned_data['extended_tweet_full_text']=cleaned_data['extended_tweet_full_text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [101]:
#Tokenizing
cleaned_data.extended_tweet_full_text = cleaned_data.extended_tweet_full_text.astype(str)
cleaned_data['tokenized_extended_tweet_full_text'] = cleaned_data.apply(lambda row: nltk.word_tokenize(row.extended_tweet_full_text), axis=1)

# remove stopwords
cleaned_data['filtered_extended_tweet_full_text'] = cleaned_data['tokenized_extended_tweet_full_text'].apply(lambda x: [word for word in x if word not in stop_words])

In [102]:
#Stemming
ps = PorterStemmer()
cleaned_data['stemmed_extended_tweet_full_text'] = cleaned_data['filtered_extended_tweet_full_text'].apply(lambda x: [ps.stem(y) for y in x])

In [103]:
#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [104]:
#Lemmatizing
lemmatizer = WordNetLemmatizer()
cleaned_data['lemmatized_extended_tweet_full_text'] = cleaned_data['filtered_extended_tweet_full_text'].apply(lambda x: [lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in x])

In [105]:
#Joining the lemmetized tokens to form string
cleaned_data['final'] = cleaned_data['lemmatized_extended_tweet_full_text'].apply(lambda x: " ".join([word for word in x]))

In [106]:
#Remove punctuations
cleaned_data['final'] = cleaned_data['final'].str.translate(str.maketrans("", "", string.punctuation))
cleaned_data['final'] = cleaned_data['final'].str.replace("’", '').str.replace("“", '').str.replace("”", '')
cleaned_data['extended_tweet_full_text']=cleaned_data['extended_tweet_full_text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [107]:
cleaned_data

,id,user_id,coordinates,location,extended_tweet_full_text,extended_tweet_full_text_duplicate,tokenized_extended_tweet_full_text,filtered_extended_tweet_full_text,stemmed_extended_tweet_full_text,lemmatized_extended_tweet_full_text,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,can we wear clone helmets instead of masks to ...,"[can, we, wear, clone, helmets, instead, of, m...","[wear, clone, helmets, instead, masks, to, sch...","[wear, clone, helmet, instead, mask, to, school]","[wear, clone, helmet, instead, mask, to, school]",wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",sc senate to reconvene in sept to discuss covi...,SC Senate to reconvene in Sept. to discuss COV...,"[sc, senate, to, reconvene, in, sept, to, disc...","[sc, senate, to, reconvene, sept, to, discuss,...","[sc, senat, to, reconven, sept, to, discuss, c...","[sc, senate, to, reconvene, sept, to, discus, ...",sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA",during the covid19 crisis pres trump has not a...,"@JohnAvlon During the COVID-19 crisis, Pres. T...","[during, the, covid19, crisis, pres, trump, ha...","[the, covid19, crisis, pres, trump, always, ho...","[the, covid19, crisi, pre, trump, alway, hones...","[the, covid19, crisis, pres, trump, always, ho...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,we just gonna act like wasn’t ahead of the cu...,We just gonna act like @JamesStormBrand wasn’t...,"[we, just, gon, na, act, like, wasn, ’, t, ahe...","[gon, na, act, like, ’, ahead, the, curve, sel...","[gon, na, act, like, ’, ahead, the, curv, sell...","[gon, na, act, like, ’, ahead, the, curve, sel...",gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",the covid19 pandemic has created unprecedented...,The COVID-19 pandemic has created unprecedente...,"[the, covid19, pandemic, has, created, unprece...","[the, covid19, pandemic, created, unprecedente...","[the, covid19, pandem, creat, unpreced, barrie...","[the, covid19, pandemic, create, unprecedented...",the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...,...,...,...,...,...
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",just so everyone can see what a republican man...,Just so everyone can see what a republican man...,"[just, so, everyone, can, see, what, a, republ...","[everyone, see, republican, man, sends, methey...","[everyon, see, republican, man, send, methey, ...","[everyone, see, republican, man, sends, methey...",everyone see republican man sends methey feel ...
7742,1.295797e+18,1.291778e+09,NaN,NaN,meanwhile canadians are constantly told they m...,"Meanwhile, Canadians are constantly told they ...","[meanwhile, canadians, are, constantly, told, ...","[meanwhile, canadians, constantly, told, must,...","[meanwhil, canadian, constantli, told, must, s...","[meanwhile, canadian, constantly, told, must, ...",meanwhile canadian constantly told must sacrif...
7743,1.295004e+18,3.486331e+08,NaN,Ontario,join us tuesday for an important backtoschool ...,Join us Tuesday for an important back-to-schoo...,"[join, us, tuesday, for, an, important, backto...","[join, us, tuesday, important, backtoschool, c...","[join, us, tuesday, import, backtoschool, chat...","[join, u, tuesday, important, backtoschool, ch...",join u tuesday important backtoschool chat the...
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,due to the laughable recount of deaths in the ...,"Due to the laughable ""recount"" of deaths in th...","[due, to, the, laughable, recount, of, deaths,...","[due, to, the, laughable, recount, deaths, the...","[due, to, the, laughabl, recount, death, the, ...","[due, to, the, laughable, recount, death, the,...",due to the laughable recount death the uk the ...
7745,1.295766e+18,1.027784e+08,NaN,Bahamas,,https://t.co/K25QaQYTtz,[],[],[],[],

In [108]:
cols = [0, 1, 2, 3 ,5, 10]
data_final = cleaned_data[cleaned_data.columns.values[cols]]

In [109]:
data_final

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7742,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7743,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7745,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,

In [110]:
data_final.to_csv('/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/final(Cleaned and Analysed)_h01-20200818-153021.csv',index=False)

stay at home
do your part
Responsible
home
house
cancel
shutdown
postpone
school closure
Closure
business closure
suspension
quarantine
lockdown
social distance
social distancing
self quarantine
isolat
6-feet
distance
#clubquarantine
#quarantinelife
#quarantineacitivites

In [129]:
data_Imp = data_final.copy()

In [130]:
keywords_Imp = ['stay at home' , 'do your part', 'Responsible', 
            'home', 'house', 'cancel', 'shutdown', 'postpone',
            'school closure', 'Closure', 'business closure',
            'suspension', 'quarantine', 'lockdown', 'social distance', 
            'social distancing', 'self quarantine', 'isolat', '6-feet',
            'distance', '#clubquarantine', '#quarantinelife', '#quarantineacitivites']

In [131]:
#Convert to lower
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].lower()

#Remove punctuations   
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Imp_tokens = [sub.split() for sub in keywords] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Imp_filtered=remove_stopwords(keywords_Imp)

#Stemming
ps = PorterStemmer()
keywords_Imp_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Imp_filtered]
keywords_Imp_stem = [" ".join(sentence) for sentence in keywords_Imp_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Imp_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Imp_filtered]
keywords_Imp_final = [" ".join(sentence) for sentence in keywords_Imp_lem]

In [132]:
data_Imp['final'] = data_Imp['final'].apply(str)
choices = data_Imp['final'].tolist()

In [133]:
data_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7742,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7743,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7745,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,

In [134]:
 def fuzzy_Imp(row):
        keyword_match, score = process.extractOne(row['final'], keywords_Imp_final, scorer = fuzz.partial_ratio)
        row['final_score'] = score
        row['final_keyword_match'] = keyword_match
        return row

In [135]:
nan_value = float("NaN")
data_Imp['final'].replace("", nan_value, inplace=True)

In [136]:
data_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7742,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7743,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7745,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [137]:
data_Imp.dropna(subset = ["final"], inplace=True)

In [138]:
data_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7740,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7742,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7743,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [120]:
interim_Imp = data_Imp.apply(fuzzy_Imp, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [121]:
interim_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score,final_keyword_match
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,60,6feet
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,60,6feet
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,75,home
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,57,closure
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,58,stay at home
...,...,...,...,...,...,...,...,...
7740,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...,67,do your part
7741,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...,60,house
7742,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...,62,distance
7743,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...,57,school closure
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...,100,quarantine

In [122]:
denominator_Imp = interim_Imp.shape[0]

In [123]:
interim_Imp['final_score'] = interim_Imp['final_score'].astype(int)

In [124]:
interim_Imp = interim_Imp[interim_Imp['final_score'] == 100]

In [125]:
interim_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score,final_keyword_match
10,1.295805e+18,2.232332e+07,NaN,Nairobi/Kyiv/Nassau/Kosovo,"Hey, friends. . . I know a lot of y'all #homes...",hey friend know lot yall homeschool supportive...,100,home
14,1.295805e+18,2.492172e+08,NaN,NaN,#TodayInLatinAmerica: Thousands of Argentines ...,todayinlatinamerica thousand argentine protest...,100,lockdown
15,1.295805e+18,1.466334e+07,NaN,New York,"Antonio Argibay, AIA, managing principal of Me...",antonio argibay aia manage principal meridian ...,100,home
16,1.295805e+18,7.136334e+07,NaN,NaN,#VIU prof. Dr. Aggie Weighill needs your input...,viu prof dr aggie weighill need your input can...,100,distance
17,1.295805e+18,1.210700e+18,NaN,NaN,Why the Lockdown Should Last Longer https://t....,the lockdown last longer via hilarious,100,lockdown
...,...,...,...,...,...,...,...,...
7728,1.295775e+18,5.077292e+07,NaN,Nashville,"@darrenrovell It’s one Titans game in Sept., K...",one titan game sept karen ask majority ameri...,100,house
7730,1.295737e+18,7.623898e+17,NaN,NaN,@realDonaldTrump Cuomo stuffed Thousands of Co...,cuomo stuffed thousand covid patient nursing h...,100,home
7732,1.295765e+18,1.713118e+07,NaN,"Little Rock, AR",Nursing home COVID-19 reporting grows less tra...,nursing home covid19 reporting grows less tran...,100,home
7738,1.294132e+18,3.810085e+08,NaN,"🏡Bikaner, Rajasthan,",आयुर्वेद के भविष्य को ऐसे दाव पर मत लगाओ यह क...,आयुर्वेद के भविष्य को ऐसे दाव पर मत लगाओ यह को...,100,postpone
7744,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...,100,quarantine

In [126]:
numerator_Imp = interim_Imp.shape[0]

In [127]:
proportion_Imp = (numerator_Imp/denominator_Imp)
print(proportion_Imp)

0.1742336049670159