In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import string
import sklearn
import numpy as np
import time

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
start = time.time()
path = '/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/final(Cleaned and Analysed)_h01-20200818-153021.csv'
data = pd.read_csv(path, index_col=None, header=0, engine='python')

data_Imp = data.copy()
data_Ada = data.copy()
data_Ne = data.copy()
data_Sd = data.copy()
data_Purp = data.copy()
data_Pe = data.copy()
end = time.time()
print("Read parquet with pandas: ",(end-start),"sec")

Read parquet with pandas:  0.08918213844299316 sec

# 1_Implementation

stay at home
do your part
Responsible
home
house
cancel
shutdown
postpone
school closure
Closure
business closure
suspension
quarantine
lockdown
social distance
social distancing
self quarantine
isolat
6-feet
distance
#clubquarantine
#quarantinelife
#quarantineacitivites

In [3]:
keywords_Imp = ['stay at home' , 'do your part', 'Responsible', 
            'home', 'house', 'cancel', 'shutdown', 'postpone',
            'school closure', 'Closure', 'business closure',
            'suspension', 'quarantine', 'lockdown', 'social distance', 
            'social distancing', 'self quarantine', 'isolat', '6-feet',
            'distance', '#clubquarantine', '#quarantinelife', '#quarantineacitivites']

In [4]:
#Convert to lower
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].lower()

#Remove punctuations   
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Imp_tokens = [sub.split() for sub in keywords_Imp] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Imp_filtered=remove_stopwords(keywords_Imp)

#Stemming
ps = PorterStemmer()
keywords_Imp_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Imp_filtered]
keywords_Imp_stem = [" ".join(sentence) for sentence in keywords_Imp_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Imp_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Imp_filtered]
keywords_Imp_final = [" ".join(sentence) for sentence in keywords_Imp_lem]

data_Imp['final'] = data_Imp['final'].apply(str)
choices = data_Imp['final'].tolist()

In [5]:
data_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7770,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [6]:
data_Imp['final'].isna().value_counts()

False    7755
True       16
Name: final, dtype: int64

In [7]:
 def fuzzy_Imp(row):
        keyword_match_Imp, score_Imp = process.extractOne(row['final'], keywords_Imp_final, scorer = fuzz.partial_ratio)
        row['final_score_Imp'] = score_Imp
        row['final_keyword_match_Imp'] = keyword_match_Imp
        return row

In [8]:
nan_value = float("NaN")
data_Imp['final'].replace("", nan_value, inplace=True)

In [9]:
data_Imp.dropna(subset = ["final"], inplace=True)

In [10]:
data_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [11]:
interim_Imp = data_Imp.apply(fuzzy_Imp, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [12]:
interim_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Imp,final_keyword_match_Imp
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,60,6feet
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,60,6feet
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,75,home
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,57,closure
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,58,stay at home
...,...,...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...,67,do your part
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...,60,house
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...,62,distance
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...,57,school closure
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...,100,quarantine

In [13]:
denominator_Imp = interim_Imp.shape[0]

In [14]:
interim_Imp['final_score_Imp'] = interim_Imp['final_score_Imp'].astype(int)

In [15]:
interim_Imp = interim_Imp[interim_Imp['final_score_Imp'] == 100].reset_index(drop=True)

In [16]:
interim_Imp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Imp,final_keyword_match_Imp
0,1.295805e+18,2.232332e+07,NaN,Nairobi/Kyiv/Nassau/Kosovo,"Hey, friends. . . I know a lot of y'all #homes...",hey friend know lot yall homeschool supportive...,100,home
1,1.295805e+18,2.492172e+08,NaN,NaN,#TodayInLatinAmerica: Thousands of Argentines ...,todayinlatinamerica thousand argentine protest...,100,lockdown
2,1.295805e+18,1.466334e+07,NaN,New York,"Antonio Argibay, AIA, managing principal of Me...",antonio argibay aia manage principal meridian ...,100,home
3,1.295805e+18,7.136334e+07,NaN,NaN,#VIU prof. Dr. Aggie Weighill needs your input...,viu prof dr aggie weighill need your input can...,100,distance
4,1.295805e+18,1.210700e+18,NaN,NaN,Why the Lockdown Should Last Longer https://t....,the lockdown last longer via hilarious,100,lockdown
...,...,...,...,...,...,...,...,...
1346,1.295775e+18,5.077292e+07,NaN,Nashville,"@darrenrovell It’s one Titans game in Sept., K...",one titan game sept karen ask majority ameri...,100,house
1347,1.295737e+18,7.623898e+17,NaN,NaN,@realDonaldTrump Cuomo stuffed Thousands of Co...,cuomo stuffed thousand covid patient nursing h...,100,home
1348,1.295765e+18,1.713118e+07,NaN,"Little Rock, AR",Nursing home COVID-19 reporting grows less tra...,nursing home covid19 reporting grows less tran...,100,home
1349,1.294132e+18,3.810085e+08,NaN,"🏡Bikaner, Rajasthan,",आयुर्वेद के भविष्य को ऐसे दाव पर मत लगाओ यह क...,आयुर्वेद के भविष्य को ऐसे दाव पर मत लगाओ यह को...,100,postpone
1350,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...,100,quarantine

In [17]:
numerator_Imp = interim_Imp.shape[0]

In [18]:
proportion_Imp = (numerator_Imp/denominator_Imp)
print(proportion_Imp)

0.17421018697614443

# 2_Adaptation

school from home
learn
remote
school food service
online shopping
online purchase
online church
delivery
drive thru
to go
take out
Tiktok
Netflix
telework
zoom
telehealth
telemedicine
teleconference
work from home
wfh
working at home
working remotely
online meeting

In [19]:
keywords_Ada = ['school from home' , 'learn', 'remote', 'school food service', 
            'online shopping', 'online purchase', 'online church', 'delivery',
            'drive thru', 'to go', 'take out', 'Tiktok', 'Netflix', 'telework', 
            'zoom', 'telehealth', 'telemedicine', 'work from home', 'wfh',
            'working at home', 'working remotely', 'online meeting']

In [20]:
#Convert to lower
for i in range(len(keywords_Ada)): 
    keywords_Ada[i] = keywords_Ada[i].lower()

#Remove punctuations   
for i in range(len(keywords_Ada)): 
    keywords_Ada[i] = keywords_Ada[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Ada)): 
    keywords_Ada[i] = keywords_Ada[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Ada_tokens = [sub.split() for sub in keywords_Ada] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Ada_filtered=remove_stopwords(keywords_Ada)

#Stemming
ps = PorterStemmer()
keywords_Ada_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Ada_filtered]
keywords_Ada_stem = [" ".join(sentence) for sentence in keywords_Ada_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Ada_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Ada_filtered]
keywords_Ada_final = [" ".join(sentence) for sentence in keywords_Ada_lem]

data_Ada['final'] = data_Ada['final'].apply(str)
choices = data_Ada['final'].tolist()

In [21]:
data_Ada

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7770,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [22]:
 def fuzzy_Ada(row):
        keyword_match_Ada, score_Ada = process.extractOne(row['final'], keywords_Ada_final, scorer = fuzz.partial_ratio)
        row['final_score_Ada'] = score_Ada
        row['final_keyword_match_Ada'] = keyword_match_Ada
        return row

In [23]:
nan_value = float("NaN")
data_Ada['final'].replace("", nan_value, inplace=True)

In [24]:
data_Ada.dropna(subset = ["final"], inplace=True)

In [25]:
data_Ada

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [26]:
interim_Ada = data_Ada.apply(fuzzy_Ada, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [27]:
denominator_Ada = interim_Ada.shape[0]

In [28]:
interim_Ada['final_score_Ada'] = interim_Ada['final_score_Ada'].astype(int)

In [29]:
interim_Ada = interim_Ada[interim_Ada['final_score_Ada'] == 100].reset_index(drop=True)

In [30]:
interim_Ada

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Ada,final_keyword_match_Ada
0,1.295805e+18,1.466334e+07,NaN,New York,"Antonio Argibay, AIA, managing principal of Me...",antonio argibay aia manage principal meridian ...,100,wfh
1,1.295805e+18,2.994861e+09,NaN,NaN,@PJS412 @Erinmc33 Patrick knows where I work. ...,patrick know work early pandemic work from hom...,100,work from home
2,1.295805e+18,9.889688e+08,NaN,NaN,@JohnWil91460279 The crazies are protesting t...,the crazy protest to vote mail say fear to go...,100,to go
3,1.295805e+18,2.913471e+09,NaN,"Omaha, Nebraska",The worst part about this remote learning is t...,the bad part remote learn strip to underwear ...,100,learn
4,1.295805e+18,4.125046e+08,NaN,"Avon, CT",An injection of the #flu vaccine will not give...,injection the flu vaccine give the flu learn,100,learn
...,...,...,...,...,...,...,...,...
274,1.295773e+18,1.590615e+08,NaN,Clydesdale,"Today I spoke to one family - Mum, dad &amp; t...",today spoke to one family mum dad amp lass cha...,100,learn
275,1.295525e+18,2.736106e+09,NaN,Bahamas,I still think delivery options would help. Del...,still think delivery option would help deliver...,100,delivery
276,1.295781e+18,1.295041e+18,NaN,Western Cape,I HAVE LEARNT.\n\nI have learnt :-\nthat you c...,learnt learnt make someone love do someone lov...,100,learn
277,1.295763e+18,1.900636e+08,NaN,"Washington, D.C.",Today’s first @washingtonpost quarantine TikTo...,today first quarantine tiktok feature the sta...,100,tiktok
278,1.295324e+18,1.602634e+08,NaN,Glasgow,Some working from home goodness @drmcnt https...,work from home goodness,100,work from home

In [31]:
numerator_Ada = interim_Ada.shape[0]

In [32]:
proportion_Ada = (numerator_Ada/denominator_Ada)
print(proportion_Ada)

0.03597678916827853

# 3_Negative Emotion

bored
lonely
stress
anxiety
scared
worry
end
cabin fever
#sideeffectsofquarantinelife
tissue paper
toilet paper

In [33]:
keywords_Ne = ['bored' , 'lonely', 'stress', 
            'anxiety', 'scared', 'worry', 'end', 'cabin fever',
            '#sideeffectsofquarantinelife', 'tissue paper', 'toilet paper']

In [34]:
#Convert to lower
for i in range(len(keywords_Ne)): 
    keywords_Ne[i] = keywords_Ne[i].lower()

#Remove punctuations   
for i in range(len(keywords_Ne)): 
    keywords_Ne[i] = keywords_Ne[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Ne)): 
    keywords_Ne[i] = keywords_Ne[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Ne_tokens = [sub.split() for sub in keywords_Ne] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Ne_filtered=remove_stopwords(keywords_Ne)

#Stemming
ps = PorterStemmer()
keywords_Ne_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Ne_filtered]
keywords_Ne_stem = [" ".join(sentence) for sentence in keywords_Ne_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Ne_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Ne_filtered]
keywords_Ne_final = [" ".join(sentence) for sentence in keywords_Ne_lem]

data_Ne['final'] = data_Ne['final'].apply(str)
choices = data_Ne['final'].tolist()

In [35]:
data_Ne

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7770,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [36]:
 def fuzzy_Ne(row):
        keyword_match_Ne, score_Ne = process.extractOne(row['final'], keywords_Ne_final, scorer = fuzz.partial_ratio)
        row['final_score_Ne'] = score_Ne
        row['final_keyword_match_Ne'] = keyword_match_Ne
        return row

In [37]:
nan_value = float("NaN")
data_Ne['final'].replace("", nan_value, inplace=True)

In [38]:
data_Ne.dropna(subset = ["final"], inplace=True)

In [39]:
data_Ne

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [40]:
interim_Ne = data_Ne.apply(fuzzy_Ne, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [41]:
denominator_Ne = interim_Ne.shape[0]

In [42]:
interim_Ne['final_score_Ne'] = interim_Ne['final_score_Ne'].astype(int)

In [43]:
interim_Ne = interim_Ne[interim_Ne['final_score_Ne'] == 100].reset_index(drop=True)

In [44]:
interim_Ne

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Ne,final_keyword_match_Ne
0,1.295805e+18,2.232332e+07,NaN,Nairobi/Kyiv/Nassau/Kosovo,"Hey, friends. . . I know a lot of y'all #homes...",hey friend know lot yall homeschool supportive...,100,end
1,1.295805e+18,7.136334e+07,NaN,NaN,#VIU prof. Dr. Aggie Weighill needs your input...,viu prof dr aggie weighill need your input can...,100,stress
2,1.295805e+18,7.219786e+08,NaN,NaN,Why is ASUU trending? \n\nAre they still on st...,asuu trend still strike theyre also demand cov...,100,end
3,1.295805e+18,1.644156e+07,NaN,"Oklahoma, USA",Quote of the Day from State Superintendent Joy...,quote the day from state superintendent joy ho...,100,end
4,1.295805e+18,1.569142e+08,NaN,"Carmel, IN","No matter what your political views are, as ha...",no matter your political view hard may set asi...,100,end
...,...,...,...,...,...,...,...,...
386,1.295080e+18,3.827117e+08,NaN,"Massachusetts, USA",Yesterday I got to see my best friend for the ...,yesterday get to see best friend the first tim...,100,end
387,1.295805e+18,4.728833e+08,NaN,Devon,@phoenixgrouphq @PhoenixEdSarah @DrBenCostello...,worry the value grade see educator employer th...,100,worry
388,1.295693e+18,1.446385e+07,NaN,"Washington, DC","In just months, #COVID19 has set back a decade...",month covid19 set back decade progress the bat...,100,end
389,1.295730e+18,3.287109e+07,NaN,"Manhattan, NY","AARP to the Postmaster General: ""We urge you t...",aarp to the postmaster general urge to suspend...,100,end
390,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...,100,end

In [45]:
numerator_Ne = interim_Ne.shape[0]

In [46]:
proportion_Ne = (numerator_Ne/denominator_Ne)
print(proportion_Ne)

0.050419084461637655

# 4_Social Disruption

social functions
gathering
empty streets
interaction
large
no cars
non-essential
travel
unnecessary
crowd

In [47]:
keywords_Sd = ['social functions' , 'gathering', 'empty streets', 
            'interaction', 'large', 'no cars', 'non-essential',
            'travel', 'unnecessary', 'crowd',]

In [48]:
#Convert to lower
for i in range(len(keywords_Sd)): 
    keywords_Sd[i] = keywords_Sd[i].lower()

#Remove punctuations   
for i in range(len(keywords_Sd)): 
    keywords_Sd[i] = keywords_Sd[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Sd)): 
    keywords_Sd[i] = keywords_Sd[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Sd_tokens = [sub.split() for sub in keywords_Sd] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Sd_filtered=remove_stopwords(keywords_Sd)

#Stemming
ps = PorterStemmer()
keywords_Sd_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Sd_filtered]
keywords_Sd_stem = [" ".join(sentence) for sentence in keywords_Sd_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Sd_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Sd_filtered]
keywords_Sd_final = [" ".join(sentence) for sentence in keywords_Sd_lem]

data_Sd['final'] = data_Sd['final'].apply(str)
choices = data_Sd['final'].tolist()

In [49]:
data_Sd

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7770,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [50]:
 def fuzzy_Sd(row):
        keyword_match_Sd, score_Sd = process.extractOne(row['final'], keywords_Sd_final, scorer = fuzz.partial_ratio)
        row['final_score_Sd'] = score_Sd
        row['final_keyword_match_Sd'] = keyword_match_Sd
        return row

In [51]:
nan_value = float("NaN")
data_Sd['final'].replace("", nan_value, inplace=True)

In [52]:
data_Sd.dropna(subset = ["final"], inplace=True)

In [53]:
data_Sd

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [54]:
interim_Sd = data_Sd.apply(fuzzy_Sd, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [55]:
denominator_Sd = interim_Sd.shape[0]

In [56]:
interim_Sd['final_score_Sd'] = interim_Sd['final_score_Sd'].astype(int)

In [57]:
interim_Sd = interim_Sd[interim_Sd['final_score_Sd'] == 100].reset_index(drop=True)

In [58]:
interim_Sd

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Sd,final_keyword_match_Sd
0,1.295805e+18,2.231906e+09,NaN,Istanbul,"Norway’s sovereign wealth fund, the world’s la...",norway sovereign wealth fund the world large...,100,large
1,1.295805e+18,1.269774e+18,NaN,Oxford,@KarlTurnerMP Social distancing rules have bee...,social distance rule largely ignore since earl...,100,large
2,1.295805e+18,9.822593e+17,NaN,"Pennsylvania, USA",KOMMUNISTS KONTROL of FOOD AND TRAVEL Peggy ...,kommunists kontrol food travel peggy hall via ...,100,travel
3,1.295805e+18,1.295469e+18,NaN,NaN,Guys today i wrote my upcatet examination and ...,guy today write upcatet examination let tell o...,100,crowd
4,1.295805e+18,8.159179e+07,NaN,"New York, NY",https://t.co/M6WudONqY1 @UMassAmherst are offe...,offering wifibased contact trace app to school...,100,interaction
...,...,...,...,...,...,...,...,...
162,1.295739e+18,8.309835e+17,NaN,Northern Virginia,People at the Farmville Detention Center are e...,people at the farmville detention center exper...,100,large
163,1.295082e+18,3.391985e+09,NaN,NaN,"Large crowds gathered yesterday In Ilford, Eas...",large crowd gather yesterday ilford east londo...,100,large
164,1.295364e+18,4.878335e+08,NaN,London,A paper in Nature reveals the structures of th...,paper nature reveals the structure the sarscov...,100,interaction
165,1.295752e+18,1.425158e+09,NaN,Worldwide,The ISN staff is joining the @WHO #WearAMask c...,the staff join the wearamask challenge invite ...,100,crowd
166,1.294274e+18,2.855537e+09,NaN,"Geneva, Switzerland",How does #COVID19 spread?Mainly by droplets fr...,covid19 spreadmainly droplet from person to pe...,100,crowd

In [59]:
numerator_Sd = interim_Sd.shape[0]

In [60]:
proportion_Sd = (numerator_Sd/denominator_Sd)
print(proportion_Sd)

0.021534493874919406

# 5_Purpose

Flatten the curve
Slow the spread
slow transmission
protect
save
#stayhomesavelives

In [61]:
keywords_Purp = ['Flatten the curve' , 'Slow the spread', 'slow transmission', 
            'protect', 'save', '#stayhomesavelives']

In [62]:
#Convert to lower
for i in range(len(keywords_Purp)): 
    keywords_Purp[i] = keywords_Purp[i].lower()

#Remove punctuations   
for i in range(len(keywords_Purp)): 
    keywords_Purp[i] = keywords_Purp[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Purp)): 
    keywords_Purp[i] = keywords_Purp[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Purp_tokens = [sub.split() for sub in keywords_Purp] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Purp_filtered=remove_stopwords(keywords_Purp)

#Stemming
ps = PorterStemmer()
keywords_Purp_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Purp_filtered]
keywords_Purp_stem = [" ".join(sentence) for sentence in keywords_Purp_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Purp_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Purp_filtered]
keywords_Purp_final = [" ".join(sentence) for sentence in keywords_Purp_lem]

data_Purp['final'] = data_Purp['final'].apply(str)
choices = data_Purp['final'].tolist()

In [63]:
data_Purp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7770,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [64]:
 def fuzzy_Purp(row):
        keyword_match_Purp, score_Purp = process.extractOne(row['final'], keywords_Purp_final, scorer = fuzz.partial_ratio)
        row['final_score_Purp'] = score_Purp
        row['final_keyword_match_Purp'] = keyword_match_Purp
        return row

In [65]:
nan_value = float("NaN")
data_Purp['final'].replace("", nan_value, inplace=True)

In [66]:
data_Purp.dropna(subset = ["final"], inplace=True)

In [67]:
data_Purp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [68]:
interim_Purp = data_Purp.apply(fuzzy_Purp, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [69]:
denominator_Purp = interim_Purp.shape[0]

In [70]:
interim_Purp['final_score_Purp'] = interim_Purp['final_score_Purp'].astype(int)

In [71]:
interim_Purp = interim_Purp[interim_Purp['final_score_Purp'] == 100].reset_index(drop=True)

In [72]:
interim_Purp

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Purp,final_keyword_match_Purp
0,1.295805e+18,1.212085e+18,NaN,NaN,#Checkout this #new #facemask #fineartamerica ...,checkout new facemask fineartamerica covid19 p...,100,protect
1,1.295805e+18,1.001892e+18,NaN,NaN,@marcdaalder I think we carve our own destiny....,think carve destiny build quarantine facility ...,100,save
2,1.295805e+18,2.396240e+07,NaN,Straight on 'til morning.,@TheBev_Seattle @BobFergusonAG I noticed the w...,notice the winery pandemic id love to visit th...,100,save
3,1.295805e+18,8.699340e+08,NaN,"Chariton, IA","Our Surgery Team (Dr. Rauen, Jennie Hall, and ...",surgery team dr rauen jennie hall konrad konsi...,100,protect
4,1.295805e+18,1.425606e+09,NaN,"North Carolina, USA",Following the Three Ws is a great way to #Stop...,follow the three w great way to stopthespread ...,100,protect
...,...,...,...,...,...,...,...,...
168,1.295767e+18,1.982584e+07,NaN,London & Suffolk,The first responsibility of any Government is ...,the first responsibility government to protect...,100,protect
169,1.293072e+18,1.070941e+18,NaN,NaN,"#SaveTheChildren \nThere are over 800,000 chil...",savethechildren 800000 child miss the u alone ...,100,save
170,1.295699e+18,2.575115e+09,NaN,South Africa,Kebby Maphatsoe (MKMVA Pres):\n\nWhen it suite...,kebby maphatsoe mkmva pres suit savesa 101 vet...,100,save
171,1.294734e+18,2.277613e+07,NaN,"Westminster, London",EXCLUSIVE Sunday @Telegraph splash\nPublic Hea...,exclusive sunday splash public health england ...,100,protect
172,1.295752e+18,8.070950e+05,NaN,New York City,Don’t throw away your neck gaiter! New researc...,throw away your neck gaiter new research show...,100,protect

In [73]:
numerator_Purp = interim_Purp.shape[0]

In [74]:
proportion_Purp = (numerator_Purp/denominator_Purp)
print(proportion_Purp)

0.022308188265635073

# 6_Positive Emotion

silver lining
optimistic
hope
bright side
Safe
#togetherapart

In [75]:
keywords_Pe = ['silver lining' , 'optimistic', 'hope', 
            'bright side', 'Safe', '#togetherapart']

In [76]:
#Convert to lower
for i in range(len(keywords_Pe)): 
    keywords_Pe[i] = keywords_Pe[i].lower()

#Remove punctuations   
for i in range(len(keywords_Pe)): 
    keywords_Pe[i] = keywords_Pe[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Pe)): 
    keywords_Pe[i] = keywords_Pe[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Pe_tokens = [sub.split() for sub in keywords_Pe] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Pe_filtered=remove_stopwords(keywords_Pe)

#Stemming
ps = PorterStemmer()
keywords_Pe_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Pe_filtered]
keywords_Pe_stem = [" ".join(sentence) for sentence in keywords_Pe_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Pe_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Pe_filtered]
keywords_Pe_final = [" ".join(sentence) for sentence in keywords_Pe_lem]

data_Pe['final'] = data_Pe['final'].apply(str)
choices = data_Pe['final'].tolist()

In [77]:
data_Pe

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...
7770,1.295766e+18,1.027784e+08,NaN,Bahamas,https://t.co/K25QaQYTtz,NaN

In [78]:
 def fuzzy_Pe(row):
        keyword_match_Pe, score_Pe = process.extractOne(row['final'], keywords_Pe_final, scorer = fuzz.partial_ratio)
        row['final_score_Pe'] = score_Pe
        row['final_keyword_match_Pe'] = keyword_match_Pe
        return row

In [79]:
nan_value = float("NaN")
data_Pe['final'].replace("", nan_value, inplace=True)

In [80]:
data_Pe.dropna(subset = ["final"], inplace=True)

In [81]:
data_Pe

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
7765,1.295710e+18,1.213801e+09,NaN,MD/DC,NEW: Is your state reporting comprehensive dat...,new your state reporting comprehensive data co...
7766,1.295803e+18,7.455473e+17,NaN,"The Bay Area, California",Just so everyone can see what a republican man...,everyone see republican man sends methey feel ...
7767,1.295797e+18,1.291778e+09,NaN,NaN,"Meanwhile, Canadians are constantly told they ...",meanwhile canadian constantly told must sacrif...
7768,1.295004e+18,3.486331e+08,NaN,Ontario,Join us Tuesday for an important back-to-schoo...,join u tuesday important backtoschool chat the...
7769,1.295096e+18,2.666017e+09,NaN,Nottingham,"Due to the laughable ""recount"" of deaths in th...",due to the laughable recount death the uk the ...

In [82]:
interim_Pe = data_Pe.apply(fuzzy_Pe, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']

In [83]:
denominator_Pe = interim_Pe.shape[0]

In [84]:
interim_Pe['final_score_Pe'] = interim_Pe['final_score_Pe'].astype(int)

In [85]:
interim_Pe = interim_Pe[interim_Pe['final_score_Pe'] == 100].reset_index(drop=True)

In [86]:
interim_Pe

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,final_score_Pe,final_keyword_match_Pe
0,1.295805e+18,1.170410e+18,NaN,Paris,Thank you also @GradientDragon for what turned...,thank also turn out to lovely heartfelt aftern...,100,hope
1,1.295805e+18,1.268273e+18,NaN,NaN,Our resident biology major @danie1mk says ther...,resident biology major say no hope fall footba...,100,hope
2,1.295805e+18,1.212085e+18,NaN,NaN,#Checkout this #new #facemask #fineartamerica ...,checkout new facemask fineartamerica covid19 p...,100,safe
3,1.295805e+18,1.967207e+07,NaN,"Dallas, Texas",We were so excited to host an event over the w...,excite to host event the weekend complete soci...,100,safe
4,1.295805e+18,2.693147e+09,NaN,NaN,Keeping Your Crew Safe During COVID-19...https...,keep your crew safe covid19,100,safe
...,...,...,...,...,...,...,...,...
237,1.290330e+18,2.987672e+09,NaN,"Annapolis, MD",I have issued an amended emergency order ensur...,issue amend emergency order ensure local schoo...,100,safe
238,1.295682e+18,1.647291e+09,NaN,"West Midlands, England",2064: Year 7’s return to school after the Teac...,2064 year 7 return to school the teach union ...,100,safe
239,1.294698e+18,5.614415e+08,NaN,NaN,Kudos to @Walmart for discovering that the vir...,kudos to discover the virus dormant 829 pm go ...,100,safe
240,1.294303e+18,1.615356e+07,NaN,New York,".@DHS_Wolf &amp; @ICEgov, you heard 'em! \n\nF...",amp heard em family safeandtogether freedom de...,100,safe
241,1.295775e+18,5.077292e+07,NaN,Nashville,"@darrenrovell It’s one Titans game in Sept., K...",one titan game sept karen ask majority ameri...,100,hope

In [87]:
numerator_Pe = interim_Pe.shape[0]

In [88]:
proportion_Pe = (numerator_Pe/denominator_Pe)
print(proportion_Pe)

0.031205673758865248

# All Proportions

In [89]:
print(proportion_Imp)

0.17421018697614443

In [90]:
print(proportion_Ada)

0.03597678916827853

In [91]:
print(proportion_Ne)

0.050419084461637655

In [92]:
print(proportion_Sd)

0.021534493874919406

In [93]:
print(proportion_Purp)

0.022308188265635073

In [94]:
print(proportion_Pe)

0.031205673758865248

# Checking for same Tweet in different Facet

In [95]:
interim_Imp = interim_Imp.rename(columns={'user_id':'user_id_Imp', 'coordinates':'coordinates_Imp', 'location':'location_Imp', 'final' : 'final_Imp'})

In [96]:
interim_Ada = interim_Ada.rename(columns={'user_id':'user_id_Ada', 'coordinates':'coordinates_Ada', 'location':'location_Ada', 'final' : 'final_Ada'})

In [97]:
interim_Ne = interim_Ne.rename(columns={'user_id':'user_id_Ne', 'coordinates':'coordinates_Ne', 'location':'location_Ne', 'final' : 'final_Ne'})

In [98]:
interim_Sd = interim_Sd.rename(columns={'user_id':'user_id_Sd', 'coordinates':'coordinates_Sd', 'location':'location_Sd', 'final' : 'final_Sd'})

In [99]:
interim_Purp = interim_Purp.rename(columns={'user_id':'user_id_Purp', 'coordinates':'coordinates_Purp', 'location':'location_Purp', 'final' : 'final_Purp'})

In [100]:
interim_Pe = interim_Pe.rename(columns={'user_id':'user_id_Pe', 'coordinates':'coordinates_Pe', 'location':'location_Pe', 'final' : 'final_Pe'})

In [101]:
merge = pd.merge(data, interim_Imp, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [102]:
merge['Imp_Match'] = np.where(~merge['user_id_Imp'].isna(), '1', '0')

In [103]:
merge = merge.drop(columns=['extended_tweet_full_text_duplicate_x', 'extended_tweet_full_text_duplicate_y'])

In [104]:
merge = pd.merge(merge, interim_Ada, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [105]:
merge['Ada_Match'] = np.where(~merge['user_id_Ada'].isna(), '1', '0')

In [106]:
merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [107]:
merge = pd.merge(merge, interim_Ne, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [108]:
merge['Ne_Match'] = np.where(~merge['user_id_Ne'].isna(), '1', '0')

In [109]:
merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [110]:
merge = pd.merge(merge, interim_Sd, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [111]:
merge['Sd_Match'] = np.where(~merge['user_id_Sd'].isna(), '1', '0')

In [112]:
merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [113]:
merge = pd.merge(merge, interim_Purp, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [114]:
merge['Purp_Match'] = np.where(~merge['user_id_Purp'].isna(), '1', '0')

In [115]:
merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [116]:
merge = pd.merge(merge, interim_Pe, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [117]:
merge['Pe_Match'] = np.where(~merge['user_id_Pe'].isna(), '1', '0')

In [118]:
merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [119]:
merge = merge[['id','user_id','coordinates','location', 'Imp_Match', 'Ada_Match', 'Ne_Match', 'Sd_Match', 'Purp_Match', 'Pe_Match']]

In [125]:
merge

,id,user_id,coordinates,location,Imp_Match,Ada_Match,Ne_Match,Sd_Match,Purp_Match,Pe_Match
0,1.071296e+18,1.905776e+08,NaN,"Attleborough, Norfolk UK",0,1,0,0,0,0
1,1.107432e+18,6.823263e+07,NaN,NaN,0,0,1,0,0,0
2,1.194847e+18,9.907617e+08,NaN,"Mumbai, India",0,0,0,0,0,0
3,1.233726e+18,4.550243e+08,NaN,"Washington, DC",0,0,0,0,0,0
4,1.239600e+18,1.684405e+09,NaN,"Queens, NY",0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
7774,1.295806e+18,9.004349e+17,NaN,"Las Vegas, NV",0,0,0,0,0,0
7775,1.295806e+18,8.695684e+17,NaN,Out Tf Side.,1,0,0,0,0,0
7776,1.295806e+18,1.708693e+09,NaN,"DC habitant, now Florida, USA",0,0,0,0,0,0
7777,1.295806e+18,1.772784e+08,NaN,NaN,1,1,0,0,0,0
7778,NaN,NaN,NaN,NaN,0,0,0,0,0,0