In [1]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import datetime
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

In [2]:
path = '/home/manikya_varshney/Documents/Python/Yale/All Graphs/Jan-Feb-Mar/Jan-Feb-Mar-Data/January/(Final)January.csv'
data = pd.read_csv(path, low_memory=False)

In [3]:
cols = [0, 1, 2, 4, 10, 11, 29, 30, 31, 36]

In [4]:
data = data[data.columns.values[cols]]

In [5]:
data

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id
0,740588957797220352,1220051216081788929,2020-01-22 18:30:52,lysoling da fuck outta everything bc i aint ca...,False,False,en,NaN,NaN,NaN
1,1971510733,1220057558033014784,2020-01-22 18:56:04,1 Coronavirus confirmed in Washington,False,False,en,NaN,NaN,NaN
2,2419585452,1220059356697452546,2020-01-22 19:03:12,"Hmmmmm, could the #coronavirus soon be the new...",False,False,en,NaN,NaN,NaN
3,14413869,1220059703104815104,2020-01-22 19:04:35,"At 11 million people, #Wuhan is larger than Ne...",False,False,en,NaN,NaN,NaN
4,1601210089,1220061420890607617,2020-01-22 19:11:25,Wuhan is cutting off inflows and outflows of t...,False,False,en,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11312,807359047,1223394406503501824,2020-01-31 23:55:30,"Nice to know, now that CNN has lost the impeac...",True,False,en,1.222965e+18,Coronavirus task force another example of Trum...,13850422.0
11313,1044064694103760896,1223394449490726912,2020-01-31 23:55:40,Italy declares state of emergency over coronav...,False,False,en,NaN,NaN,NaN
11314,911735284533886976,1223394489617641472,2020-01-31 23:55:50,Enjoy the game. Please don't get on the plane ...,False,False,en,NaN,NaN,NaN
11315,993914504206483457,1223394886960975872,2020-01-31 23:57:25,Coronavirus = Instagram mask marketing https:/...,False,False,en,NaN,NaN,NaN
11316,2269486316,1223394936042618880,2020-01-31 23:57:36,Airlines stop flights to China due to coronavi...,False,False,en,NaN,NaN,NaN

In [6]:
data['lang'].value_counts()

en    11313
Name: lang, dtype: int64

In [7]:
data = data[data['lang'] == 'en'].reset_index(drop=True)

# Date Sorting

pd.to_datetime(data['created_at']).dt.date == pd.Timestamp(2020,1,22)

In [8]:
data['Date_Flag'] = data['created_at'].str[:10] == '2020-01-22'

In [9]:
data['Date_Flag'].value_counts()

False    11241
True        72
Name: Date_Flag, dtype: int64

In [10]:
data

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id,Date_Flag
0,740588957797220352,1220051216081788929,2020-01-22 18:30:52,lysoling da fuck outta everything bc i aint ca...,False,False,en,NaN,NaN,NaN,True
1,1971510733,1220057558033014784,2020-01-22 18:56:04,1 Coronavirus confirmed in Washington,False,False,en,NaN,NaN,NaN,True
2,2419585452,1220059356697452546,2020-01-22 19:03:12,"Hmmmmm, could the #coronavirus soon be the new...",False,False,en,NaN,NaN,NaN,True
3,14413869,1220059703104815104,2020-01-22 19:04:35,"At 11 million people, #Wuhan is larger than Ne...",False,False,en,NaN,NaN,NaN,True
4,1601210089,1220061420890607617,2020-01-22 19:11:25,Wuhan is cutting off inflows and outflows of t...,False,False,en,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
11308,807359047,1223394406503501824,2020-01-31 23:55:30,"Nice to know, now that CNN has lost the impeac...",True,False,en,1.222965e+18,Coronavirus task force another example of Trum...,13850422.0,False
11309,1044064694103760896,1223394449490726912,2020-01-31 23:55:40,Italy declares state of emergency over coronav...,False,False,en,NaN,NaN,NaN,False
11310,911735284533886976,1223394489617641472,2020-01-31 23:55:50,Enjoy the game. Please don't get on the plane ...,False,False,en,NaN,NaN,NaN,False
11311,993914504206483457,1223394886960975872,2020-01-31 23:57:25,Coronavirus = Instagram mask marketing https:/...,False,False,en,NaN,NaN,NaN,False
11312,2269486316,1223394936042618880,2020-01-31 23:57:36,Airlines stop flights to China due to coronavi...,False,False,en,NaN,NaN,NaN,False

In [11]:
interim_date = data[np.where((data['Date_Flag'] == True),True,False)].reset_index(drop=True)

In [12]:
interim_date

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id,Date_Flag
0,740588957797220352,1220051216081788929,2020-01-22 18:30:52,lysoling da fuck outta everything bc i aint ca...,False,False,en,NaN,NaN,NaN,True
1,1971510733,1220057558033014784,2020-01-22 18:56:04,1 Coronavirus confirmed in Washington,False,False,en,NaN,NaN,NaN,True
2,2419585452,1220059356697452546,2020-01-22 19:03:12,"Hmmmmm, could the #coronavirus soon be the new...",False,False,en,NaN,NaN,NaN,True
3,14413869,1220059703104815104,2020-01-22 19:04:35,"At 11 million people, #Wuhan is larger than Ne...",False,False,en,NaN,NaN,NaN,True
4,1601210089,1220061420890607617,2020-01-22 19:11:25,Wuhan is cutting off inflows and outflows of t...,False,False,en,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
67,393733048,1220130862408372229,2020-01-22 23:47:21,@L0gg0l The coronavirus seems pretty bad from ...,False,False,en,NaN,NaN,NaN,True
68,1026223248260849664,1220131257251717122,2020-01-22 23:48:55,"#BREAKING: Coronavirus Outbreak — #Wuhan, Chin...",False,False,en,NaN,NaN,NaN,True
69,405626885,1220131463678570497,2020-01-22 23:49:44,And this is exactly how dangerous viruses spre...,True,False,en,1.220126e+18,#Breaking: 21 students from Chinese province a...,123406653.0,True
70,1019503232190681088,1220131795192221696,2020-01-22 23:51:03,Ummmm this takes #SnakeGate to a whole new lev...,False,False,en,NaN,NaN,NaN,True
71,620689391,1220133743899209729,2020-01-22 23:58:48,Authorities limit the travel of 11 million res...,False,False,en,NaN,NaN,NaN,True

# Date Cleaning

##### is_quote --> False

In [13]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           72 non-null     object
 1   status_id         72 non-null     object
 2   created_at        72 non-null     object
 3   text              72 non-null     object
 4   is_quote          72 non-null     object
 5   is_retweet        72 non-null     object
 6   lang              72 non-null     object
 7   quoted_status_id  10 non-null     float64
 8   quoted_text       10 non-null     object
 9   quoted_user_id    10 non-null     float64
 10  Date_Flag         72 non-null     bool
dtypes: bool(1), float64(2), object(8)
memory usage: 5.8+ KB

In [14]:
interim = interim_date[np.where((interim_date['is_quote']== 'False' ),True,False)].reset_index(drop=True)

In [15]:
interim.shape

(62, 11)

In [16]:
interim['status_id'].nunique()

62

In [17]:
non_rep = interim[['user_id','text']]

##### is_quote --> True

In [18]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           72 non-null     object
 1   status_id         72 non-null     object
 2   created_at        72 non-null     object
 3   text              72 non-null     object
 4   is_quote          72 non-null     object
 5   is_retweet        72 non-null     object
 6   lang              72 non-null     object
 7   quoted_status_id  10 non-null     float64
 8   quoted_text       10 non-null     object
 9   quoted_user_id    10 non-null     float64
 10  Date_Flag         72 non-null     bool
dtypes: bool(1), float64(2), object(8)
memory usage: 5.8+ KB

In [19]:
interim = interim_date[np.where((interim_date['is_quote']== 'True'),True,False)].reset_index(drop=True)

In [20]:
interim.shape

(10, 11)

In [21]:
interim = interim[['user_id','text']]

In [22]:
interim.columns = non_rep.columns

In [23]:
interim.shape

(10, 2)

In [24]:
non_rep = non_rep.append(interim,ignore_index=True)

In [25]:
non_rep.shape

(72, 2)

In [26]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           72 non-null     object
 1   status_id         72 non-null     object
 2   created_at        72 non-null     object
 3   text              72 non-null     object
 4   is_quote          72 non-null     object
 5   is_retweet        72 non-null     object
 6   lang              72 non-null     object
 7   quoted_status_id  10 non-null     float64
 8   quoted_text       10 non-null     object
 9   quoted_user_id    10 non-null     float64
 10  Date_Flag         72 non-null     bool
dtypes: bool(1), float64(2), object(8)
memory usage: 5.8+ KB

In [27]:
interim = interim_date[np.where((interim_date['is_quote']== 'True'),True,False)].reset_index(drop=True)

In [28]:
interim.shape

(10, 11)

In [29]:
interim[['quoted_text']]

                                         quoted_text
0  "No one wants to be the first in the nation in...
1  Officials in Wuhan, China, shut down the airpo...
2  A new virus has killed 17 people in China and ...
3  Mr. Peanut is dead. I know this because I read...
4  China has locked down a city of 11 million to ...
5  最新！#武汉肺炎 增至324例！病毒大面积蔓延各省！澳洲总理紧急发言！全澳航空拉响警报！国内...
6  NEWS: Grow Mobility, the scooter leader of Lat...
7  Memo also gives guidance to specimen collectio...
8  Caixin removed its paywall for all #WuhanCoron...
9  #Breaking: 21 students from Chinese province a...

In [30]:
interim = interim[['quoted_user_id','quoted_text']]

In [31]:
interim

   quoted_user_id                                        quoted_text
0    3.681780e+07  "No one wants to be the first in the nation in...
1    4.283330e+05  Officials in Wuhan, China, shut down the airpo...
2    7.421430e+05  A new virus has killed 17 people in China and ...
3    1.086439e+18  Mr. Peanut is dead. I know this because I read...
4    4.030324e+07  China has locked down a city of 11 million to ...
5    2.348554e+08  最新！#武汉肺炎 增至324例！病毒大面积蔓延各省！澳洲总理紧急发言！全澳航空拉响警报！国内...
6    1.983242e+08  NEWS: Grow Mobility, the scooter leader of Lat...
7    1.096420e+09  Memo also gives guidance to specimen collectio...
8    1.606213e+09  Caixin removed its paywall for all #WuhanCoron...
9    1.234067e+08  #Breaking: 21 students from Chinese province a...

In [32]:
interim = interim.rename(columns={'quoted_user_id':'user_id', 'quoted_text':'text'})

In [33]:
non_rep = non_rep.append(interim,ignore_index=True)

In [34]:
non_rep.shape

(82, 2)

In [35]:
non_rep

               user_id                                               text
0   740588957797220352  lysoling da fuck outta everything bc i aint ca...
1           1971510733              1 Coronavirus confirmed in Washington
2           2419585452  Hmmmmm, could the #coronavirus soon be the new...
3             14413869  At 11 million people, #Wuhan is larger than Ne...
4           1601210089  Wuhan is cutting off inflows and outflows of t...
..                 ...                                                ...
77         234855418.0  最新！#武汉肺炎 增至324例！病毒大面积蔓延各省！澳洲总理紧急发言！全澳航空拉响警报！国内...
78         198324177.0  NEWS: Grow Mobility, the scooter leader of Lat...
79        1096420230.0  Memo also gives guidance to specimen collectio...
80        1606212504.0  Caixin removed its paywall for all #WuhanCoron...
81         123406653.0  #Breaking: 21 students from Chinese province a...

[82 rows x 2 columns]

# Analysis

In [36]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import emoji

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [37]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])
#demoji.download_codes()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [38]:
non_rep['text_duplicate'] = non_rep['text']

In [39]:
non_rep

,user_id,text,text_duplicate
0,740588957797220352,lysoling da fuck outta everything bc i aint ca...,lysoling da fuck outta everything bc i aint ca...
1,1971510733,1 Coronavirus confirmed in Washington,1 Coronavirus confirmed in Washington
2,2419585452,"Hmmmmm, could the #coronavirus soon be the new...","Hmmmmm, could the #coronavirus soon be the new..."
3,14413869,"At 11 million people, #Wuhan is larger than Ne...","At 11 million people, #Wuhan is larger than Ne..."
4,1601210089,Wuhan is cutting off inflows and outflows of t...,Wuhan is cutting off inflows and outflows of t...
...,...,...,...
77,234855418.0,最新！#武汉肺炎 增至324例！病毒大面积蔓延各省！澳洲总理紧急发言！全澳航空拉响警报！国内...,最新！#武汉肺炎 增至324例！病毒大面积蔓延各省！澳洲总理紧急发言！全澳航空拉响警报！国内...
78,198324177.0,"NEWS: Grow Mobility, the scooter leader of Lat...","NEWS: Grow Mobility, the scooter leader of Lat..."
79,1096420230.0,Memo also gives guidance to specimen collectio...,Memo also gives guidance to specimen collectio...
80,1606212504.0,Caixin removed its paywall for all #WuhanCoron...,Caixin removed its paywall for all #WuhanCoron...
81,123406653.0,#Breaking: 21 students from Chinese province a...,#Breaking: 21 students from Chinese province a...

In [40]:
#Convert to lower case
non_rep['text'] = non_rep['text'].str.lower()

In [41]:
#Removing emojis
def demoji(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
                               "]+", flags=re.UNICODE)
    return(emoji_pattern.sub(r'', text))

non_rep[u'text'] = non_rep[u'text'].astype(str)
non_rep[u'text'] = non_rep[u'text'].apply(lambda x:demoji(x))

In [42]:
#Remove URLs
non_rep['text'] = non_rep['text'].str.replace(r"http\S+| www\S+| https\S+| \S+\.com\S+| \S+\.com", "", regex=True)

In [43]:
#Remove user @
non_rep['text'] = non_rep['text'].str.replace(r'\@[\w]+', "", regex=True)

In [44]:
#Remove punctuations
non_rep['text'] = non_rep['text'].str.translate(str.maketrans("", "", string.punctuation))

In [45]:
#More Cleaning
non_rep['text']=non_rep['text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [46]:
#Tokenizing
non_rep.text = non_rep.text.astype(str)
non_rep['tokenized_text'] = non_rep.apply(lambda row: nltk.word_tokenize(row.text), axis=1)

# remove stopwords
non_rep['filtered_text'] = non_rep['tokenized_text'].apply(lambda x: [word for word in x if word not in stop_words])

In [47]:
#Stemming
ps = PorterStemmer()
non_rep['stemmed_text'] = non_rep['filtered_text'].apply(lambda x: [ps.stem(y) for y in x])

In [48]:
#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [49]:
#Lemmatizing
lemmatizer = WordNetLemmatizer()
non_rep['lemmatized_text'] = non_rep['filtered_text'].apply(lambda x: [lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in x])

In [50]:
#Joining the lemmetized tokens to form string
non_rep['final'] = non_rep['lemmatized_text'].apply(lambda x: " ".join([word for word in x]))

In [51]:
#Remove punctuations
non_rep['final'] = non_rep['final'].str.translate(str.maketrans("", "", string.punctuation))
non_rep['final'] = non_rep['final'].str.replace("’", '').str.replace("“", '').str.replace("”", '')
#non_rep['text'] = non_rep['text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')
non_rep['final'] = non_rep['final'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [52]:
non_rep.drop_duplicates(['final']).shape

(81, 8)

In [53]:
non_rep = non_rep.drop_duplicates(['final']).reset_index(drop=True)

In [54]:
non_rep.shape

(81, 8)

In [55]:
non_rep

,user_id,text,text_duplicate,tokenized_text,filtered_text,stemmed_text,lemmatized_text,final
0,740588957797220352,lysoling da fuck outta everything bc i aint ca...,lysoling da fuck outta everything bc i aint ca...,"[lysoling, da, fuck, outta, everything, bc, i,...","[lysoling, da, fuck, outta, everything, bc, ai...","[lysol, da, fuck, outta, everyth, bc, aint, ca...","[lysoling, da, fuck, outta, everything, bc, ai...",lysoling da fuck outta everything bc aint catc...
1,1971510733,1 coronavirus confirmed in washington,1 Coronavirus confirmed in Washington,"[1, coronavirus, confirmed, in, washington]","[1, coronavirus, confirmed, washington]","[1, coronaviru, confirm, washington]","[1, coronavirus, confirm, washington]",1 coronavirus confirm washington
2,2419585452,hmmmmm could the coronavirus soon be the new p...,"Hmmmmm, could the #coronavirus soon be the new...","[hmmmmm, could, the, coronavirus, soon, be, th...","[hmmmmm, could, the, coronavirus, soon, the, n...","[hmmmmm, could, the, coronaviru, soon, the, ne...","[hmmmmm, could, the, coronavirus, soon, the, n...",hmmmmm could the coronavirus soon the new plague
3,14413869,at 11 million people wuhan is larger than new ...,"At 11 million people, #Wuhan is larger than Ne...","[at, 11, million, people, wuhan, is, larger, t...","[at, 11, million, people, wuhan, larger, new, ...","[at, 11, million, peopl, wuhan, larger, new, y...","[at, 11, million, people, wuhan, large, new, y...",at 11 million people wuhan large new york city...
4,1601210089,wuhan is cutting off inflows and outflows of t...,Wuhan is cutting off inflows and outflows of t...,"[wuhan, is, cutting, off, inflows, and, outflo...","[wuhan, cutting, inflows, outflows, transport,...","[wuhan, cut, inflow, outflow, transport, annou...","[wuhan, cut, inflow, outflow, transport, annou...",wuhan cut inflow outflow transport announce 2a...
...,...,...,...,...,...,...,...,...
76,234855418.0,324 epidemic updates in real time 324 sars wh...,最新！#武汉肺炎 增至324例！病毒大面积蔓延各省！澳洲总理紧急发言！全澳航空拉响警报！国内...,"[324, epidemic, updates, in, real, time, 324, ...","[324, epidemic, updates, real, time, 324, sars...","[324, epidem, updat, real, time, 324, sar, 20196]","[324, epidemic, update, real, time, 324, sars,...",324 epidemic update real time 324 sars 20196
77,198324177.0,news grow mobility the scooter leader of latin...,"NEWS: Grow Mobility, the scooter leader of Lat...","[news, grow, mobility, the, scooter, leader, o...","[news, grow, mobility, the, scooter, leader, l...","[news, grow, mobil, the, scooter, leader, lati...","[news, grow, mobility, the, scooter, leader, l...",news grow mobility the scooter leader latin am...
78,1096420230.0,memo also gives guidance to specimen collectio...,Memo also gives guidance to specimen collectio...,"[memo, also, gives, guidance, to, specimen, co...","[memo, also, gives, guidance, to, specimen, co...","[memo, also, give, guidanc, to, specimen, coll...","[memo, also, give, guidance, to, specimen, col...",memo also give guidance to specimen collection...
79,1606212504.0,caixin removed its paywall for all wuhancorona...,Caixin removed its paywall for all #WuhanCoron...,"[caixin, removed, its, paywall, for, all, wuha...","[caixin, removed, paywall, wuhancoronavirus, r...","[caixin, remov, paywal, wuhancoronaviru, relat...","[caixin, remove, paywall, wuhancoronavirus, re...",caixin remove paywall wuhancoronavirus related...
80,123406653.0,breaking 21 students from chinese province at ...,#Breaking: 21 students from Chinese province a...,"[breaking, 21, students, from, chinese, provin...","[breaking, 21, students, from, chinese, provin...","[break, 21, student, from, chines, provinc, at...","[break, 21, student, from, chinese, province, ...",break 21 student from chinese province at cent...

In [56]:
cols = [0,2, 7]
data_final = non_rep[non_rep.columns.values[cols]]
data_final.to_csv('/home/manikya_varshney/Documents/Python/Yale/All Graphs/Jan-Feb-Mar/Jan-Feb-Mar-Data/January/January22nd.csv',index=False)