In [101]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import datetime
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

In [102]:
path = '/home/manikya_varshney/Documents/Python/Yale/All Graphs/Jan-Feb-Mar/Jan-Feb-Mar-Data/March/(Final)March.csv'
data = pd.read_csv( path, index_col=None, header=0, engine='python' )

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231116 entries, 0 to 231115
Data columns (total 90 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   account_created_at       231116 non-null  object
 1   account_lang             10 non-null      float64
 2   bbox_coords              231104 non-null  object
 3   coords_coords            231104 non-null  object
 4   country                  231103 non-null  object
 5   country_code             231104 non-null  object
 6   created_at               231111 non-null  object
 7   description              214975 non-null  object
 8   display_text_width       231102 non-null  object
 9   ext_media_expanded_url   39272 non-null   object
 10  ext_media_t.co           39272 non-null   object
 11  ext_media_type           7 non-null       object
 12  ext_media_url            39272 non-null   object
 13  favorite_count           231102 non-null  object
 14  favourites_count         231101 non-null  object
 15  followers_count          231101 non-null  float64
 16  friends_count            231101 non-null  object
 17  geo_coords               231093 non-null  object
 18  hashtags                 103390 non-null  object
 19  is_quote                 231093 non-null  object
 20  is_retweet               231093 non-null  object
 21  lang                     231092 non-null  object
 22  listed_count             231092 non-null  float64
 23  location                 206160 non-null  object
 24  media_expanded_url       39271 non-null   object
 25  media_t.co               39271 non-null   object
 26  media_type               39271 non-null   object
 27  media_url                39271 non-null   object
 28  mentions_screen_name     76054 non-null   object
 29  mentions_user_id         76055 non-null   object
 30  name                     231098 non-null  object
 31  place_full_name          231101 non-null  object
 32  place_name               231100 non-null  object
 33  place_type               231101 non-null  object
 34  place_url                231093 non-null  object
 35  profile_background_url   195464 non-null  object
 36  profile_banner_url       206990 non-null  object
 37  profile_expanded_url     117331 non-null  object
 38  profile_image_url        231095 non-null  object
 39  profile_url              117427 non-null  object
 40  protected                231095 non-null  object
 41  quote_count              3 non-null       object
 42  quoted_created_at        23862 non-null   object
 43  quoted_description       23295 non-null   object
 44  quoted_favorite_count    23861 non-null   object
 45  quoted_followers_count   23861 non-null   float64
 46  quoted_friends_count     23861 non-null   object
 47  quoted_location          19920 non-null   object
 48  quoted_name              23860 non-null   object
 49  quoted_retweet_count     23860 non-null   object
 50  quoted_screen_name       23858 non-null   object
 51  quoted_source            23858 non-null   object
 52  quoted_status_id         23858 non-null   float64
 53  quoted_statuses_count    23858 non-null   float64
 54  quoted_text              23867 non-null   object
 55  quoted_user_id           23858 non-null   float64
 56  quoted_verified          23858 non-null   object
 57  reply_count              0 non-null       float64
 58  reply_to_screen_name     38199 non-null   object
 59  reply_to_status_id       30142 non-null   float64
 60  reply_to_user_id         38199 non-null   float64
 61  retweet_count            231091 non-null  float64
 62  retweet_created_at       0 non-null       float64
 63  retweet_description      0 non-null       float64
 64  retweet_favorite_count   0 non-null       float64
 65  retweet_followers_count  0 non-null       float64
 66  retweet_friends_count    0 non-null       float64
 67  retweet_location         0 non-null       float64
 68  retweet_name             0 non-null       float64
 69  retweet_retweet_count    0 non-null       float64
 70  retweet_screen_name      9 non-null       object
 71  retweet_source           9 non-null       object
 72  retweet_status_id        9 non-null       float64
 73  retweet_statuses_count   9 non-null       object
 74  retweet_text             9 non-null       float64
 75  retweet_user_id          0 non-null       float64
 76  retweet_verified         9 non-null       object
 77  screen_name              231097 non-null  object
 78  source                   231098 non-null  object
 79  status_id                231098 non-null  object
 80  status_url               231098 non-null  object
 81  statuses_count           231100 non-null  float64
 82  symbols                  204 non-null     object
 83  text                     231091 non-null  object
 84  url                      117424 non-null  object
 85  urls_expanded_url        107379 non-null  object
 86  urls_t.co                107379 non-null  object
 87  urls_url                 107379 non-null  object
 88  user_id                  231090 non-null  float64
 89  verified                 231090 non-null  object
dtypes: float64(24), object(66)
memory usage: 158.7+ MB

In [104]:
cols = [88, 79, 6, 83, 19, 20, 21, 52, 54, 55]

In [105]:
data = data[data.columns.values[cols]]

In [106]:
data

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id
0,8.972777e+17,1235608869314928650,2020-03-05 16:51:25,"@Reuters Nevada has a case of Coronavirus, do ...",False,False,en,NaN,NaN,NaN
1,4.498335e+07,1235608900562546688,2020-03-05 16:51:33,Pandemic message #Coronavirus #Farmers #Educat...,True,False,en,1.235574e+18,In our new video series #GlobalHealthMinute I ...,8.204525e+17
2,7.450740e+17,1235608937702948864,2020-03-05 16:51:41,@RUMINT79 @realDonaldTrump All countries led b...,False,False,en,NaN,NaN,NaN
3,2.842759e+07,1235608950965514247,2020-03-05 16:51:45,Tornados? Coronavirus? Nope. The Tennessee sta...,True,False,en,1.235608e+18,The resolution honoring Rush Limbaugh passed.,3.730335e+07
4,2.189825e+08,1235608964290801669,2020-03-05 16:51:48,The coronavirus is man made and was released b...,False,False,en,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
231111,3.509332e+07,1242601965340823552,2020-03-24 23:59:29,@realDonaldTrump @realDonaldTrump you have to ...,False,False,en,NaN,NaN,NaN
231112,1.001588e+18,1242601989369987074,2020-03-24 23:59:35,"Now Durham.\n\nI’m betting that by Thursday, w...",False,False,en,NaN,NaN,NaN
231113,3.019749e+09,1242602030365061121,2020-03-24 23:59:45,@mitchellreports @MSNBC Medical science has fo...,False,False,en,NaN,NaN,NaN
231114,8.207990e+17,1242602034160902144,2020-03-24 23:59:46,Dudes fucked up in the crib with coronavirus!\...,False,False,en,NaN,NaN,NaN
231115,1.602403e+09,1242602041911980033,2020-03-24 23:59:47,Me: “So can I come home?” \n\nMom: “No I don’t...,False,False,en,NaN,NaN,NaN

In [107]:
data['lang'].value_counts()

en    231092
Name: lang, dtype: int64

In [108]:
data = data[data['lang'] == 'en'].reset_index(drop=True)

# Date Sorting

pd.to_datetime(data['created_at']).dt.date == pd.Timestamp(2020,2,02)

In [111]:
data['Date_Flag'] = data['created_at'].str[:10] == '2020-03-24'

In [110]:
data['Date_Flag'].value_counts()

False    231092
Name: Date_Flag, dtype: int64

In [100]:
data

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id,Date_Flag
0,8.972777e+17,1235608869314928650,2020-03-05 16:51:25,"@Reuters Nevada has a case of Coronavirus, do ...",False,False,en,NaN,NaN,NaN,False
1,4.498335e+07,1235608900562546688,2020-03-05 16:51:33,Pandemic message #Coronavirus #Farmers #Educat...,True,False,en,1.235574e+18,In our new video series #GlobalHealthMinute I ...,8.204525e+17,False
2,7.450740e+17,1235608937702948864,2020-03-05 16:51:41,@RUMINT79 @realDonaldTrump All countries led b...,False,False,en,NaN,NaN,NaN,False
3,2.842759e+07,1235608950965514247,2020-03-05 16:51:45,Tornados? Coronavirus? Nope. The Tennessee sta...,True,False,en,1.235608e+18,The resolution honoring Rush Limbaugh passed.,3.730335e+07,False
4,2.189825e+08,1235608964290801669,2020-03-05 16:51:48,The coronavirus is man made and was released b...,False,False,en,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
231087,3.509332e+07,1242601965340823552,2020-03-24 23:59:29,@realDonaldTrump @realDonaldTrump you have to ...,False,False,en,NaN,NaN,NaN,True
231088,1.001588e+18,1242601989369987074,2020-03-24 23:59:35,"Now Durham.\n\nI’m betting that by Thursday, w...",False,False,en,NaN,NaN,NaN,True
231089,3.019749e+09,1242602030365061121,2020-03-24 23:59:45,@mitchellreports @MSNBC Medical science has fo...,False,False,en,NaN,NaN,NaN,True
231090,8.207990e+17,1242602034160902144,2020-03-24 23:59:46,Dudes fucked up in the crib with coronavirus!\...,False,False,en,NaN,NaN,NaN,True
231091,1.602403e+09,1242602041911980033,2020-03-24 23:59:47,Me: “So can I come home?” \n\nMom: “No I don’t...,False,False,en,NaN,NaN,NaN,True

In [12]:
interim_date = data[np.where((data['Date_Flag'] == True),True,False)].reset_index(drop=True)

In [13]:
interim_date

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id,Date_Flag
0,2.249838e+08,1242239735105347584,2020-03-24 00:00:07,My nieces and nephews made this little FedEx t...,False,False,en,NaN,NaN,NaN,True
1,1.546276e+07,1242239813429923840,2020-03-24 00:00:25,@futurism Perhaps it’s worth journalists refra...,False,False,en,NaN,NaN,NaN,True
2,7.515093e+17,1242239823181725696,2020-03-24 00:00:28,#ICYMI: The #SilverSpring Arts &amp; Entertain...,False,False,en,NaN,NaN,NaN,True
3,2.585715e+09,1242239886075273218,2020-03-24 00:00:43,@_DCHealth latest #coronavirus numbers as of 1...,False,False,en,NaN,NaN,NaN,True
4,1.857387e+08,1242239892890869761,2020-03-24 00:00:44,RTC reducing residential bus service amid 30-d...,False,False,en,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
13337,3.509332e+07,1242601965340823552,2020-03-24 23:59:29,@realDonaldTrump @realDonaldTrump you have to ...,False,False,en,NaN,NaN,NaN,True
13338,1.001588e+18,1242601989369987074,2020-03-24 23:59:35,"Now Durham.\n\nI’m betting that by Thursday, w...",False,False,en,NaN,NaN,NaN,True
13339,3.019749e+09,1242602030365061121,2020-03-24 23:59:45,@mitchellreports @MSNBC Medical science has fo...,False,False,en,NaN,NaN,NaN,True
13340,8.207990e+17,1242602034160902144,2020-03-24 23:59:46,Dudes fucked up in the crib with coronavirus!\...,False,False,en,NaN,NaN,NaN,True
13341,1.602403e+09,1242602041911980033,2020-03-24 23:59:47,Me: “So can I come home?” \n\nMom: “No I don’t...,False,False,en,NaN,NaN,NaN,True

# Date Cleaning

##### is_quote --> False

In [14]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13342 entries, 0 to 13341
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           13342 non-null  float64
 1   status_id         13342 non-null  object
 2   created_at        13342 non-null  object
 3   text              13342 non-null  object
 4   is_quote          13342 non-null  object
 5   is_retweet        13342 non-null  object
 6   lang              13342 non-null  object
 7   quoted_status_id  1324 non-null   float64
 8   quoted_text       1324 non-null   object
 9   quoted_user_id    1324 non-null   float64
 10  Date_Flag         13342 non-null  bool
dtypes: bool(1), float64(3), object(7)
memory usage: 1.0+ MB

In [15]:
interim_date['is_quote'].value_counts()

False    12018
True      1324
Name: is_quote, dtype: int64

In [16]:
interim = interim_date[np.where((interim_date['is_quote']== 'False' ),True,False)].reset_index(drop=True)

In [17]:
interim.shape

(12018, 11)

In [18]:
interim['status_id'].nunique()

12015

In [19]:
non_rep = interim[['user_id','text']]

##### is_quote --> True

In [20]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13342 entries, 0 to 13341
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           13342 non-null  float64
 1   status_id         13342 non-null  object
 2   created_at        13342 non-null  object
 3   text              13342 non-null  object
 4   is_quote          13342 non-null  object
 5   is_retweet        13342 non-null  object
 6   lang              13342 non-null  object
 7   quoted_status_id  1324 non-null   float64
 8   quoted_text       1324 non-null   object
 9   quoted_user_id    1324 non-null   float64
 10  Date_Flag         13342 non-null  bool
dtypes: bool(1), float64(3), object(7)
memory usage: 1.0+ MB

In [21]:
interim = interim_date[np.where((interim_date['is_quote']== 'True'),True,False)].reset_index(drop=True)

In [22]:
interim.shape

(1324, 11)

In [23]:
interim = interim[['user_id','text']]

In [24]:
interim.columns = non_rep.columns

In [25]:
interim.shape

(1324, 2)

In [26]:
non_rep = non_rep.append(interim,ignore_index=True)

In [27]:
non_rep.shape

(13342, 2)

In [28]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13342 entries, 0 to 13341
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           13342 non-null  float64
 1   status_id         13342 non-null  object
 2   created_at        13342 non-null  object
 3   text              13342 non-null  object
 4   is_quote          13342 non-null  object
 5   is_retweet        13342 non-null  object
 6   lang              13342 non-null  object
 7   quoted_status_id  1324 non-null   float64
 8   quoted_text       1324 non-null   object
 9   quoted_user_id    1324 non-null   float64
 10  Date_Flag         13342 non-null  bool
dtypes: bool(1), float64(3), object(7)
memory usage: 1.0+ MB

In [29]:
interim = interim_date[np.where((interim_date['is_quote']== 'True'),True,False)].reset_index(drop=True)

In [30]:
interim.shape

(1324, 11)

In [31]:
interim[['quoted_text']]

                                            quoted_text
0     #Spain "Doctors in #España🇪🇸 with tears in the...
1     Our family business switched over from making ...
2     A kid who licked toilets as part of the #Coron...
3     Join me at 5pm PST for the @BomaGlobal #COVID1...
4     The President brings up flu deaths and vehicle...
...                                                 ...
1319  BREAKING: Dow surges more than 2,000 points, i...
1320  Detroit consultant, entrepreneur dies after CO...
1321  When the quarantine is done. #StayAtHomeOrder ...
1322  As we gear up to celebrate the #LunarNewYear i...
1323  RT if you have decided that 35,000 human being...

[1324 rows x 1 columns]

In [32]:
interim = interim[['quoted_user_id','quoted_text']]

In [33]:
interim

      quoted_user_id                                        quoted_text
0       3.582880e+08  #Spain "Doctors in #España🇪🇸 with tears in the...
1       9.530711e+08  Our family business switched over from making ...
2       3.192442e+09  A kid who licked toilets as part of the #Coron...
3       1.724019e+07  Join me at 5pm PST for the @BomaGlobal #COVID1...
4       1.663528e+07  The President brings up flu deaths and vehicle...
...              ...                                                ...
1319    5.124157e+07  BREAKING: Dow surges more than 2,000 points, i...
1320    4.073066e+08  Detroit consultant, entrepreneur dies after CO...
1321    3.457221e+07  When the quarantine is done. #StayAtHomeOrder ...
1322    2.350223e+09  As we gear up to celebrate the #LunarNewYear i...
1323    2.400700e+07  RT if you have decided that 35,000 human being...

[1324 rows x 2 columns]

In [34]:
interim = interim.rename(columns={'quoted_user_id':'user_id', 'quoted_text':'text'})

In [35]:
non_rep = non_rep.append(interim,ignore_index=True)

In [36]:
non_rep.shape

(14666, 2)

In [37]:
non_rep

            user_id                                               text
0      2.249838e+08  My nieces and nephews made this little FedEx t...
1      1.546276e+07  @futurism Perhaps it’s worth journalists refra...
2      7.515093e+17  #ICYMI: The #SilverSpring Arts &amp; Entertain...
3      2.585715e+09  @_DCHealth latest #coronavirus numbers as of 1...
4      1.857387e+08  RTC reducing residential bus service amid 30-d...
...             ...                                                ...
14661  5.124157e+07  BREAKING: Dow surges more than 2,000 points, i...
14662  4.073066e+08  Detroit consultant, entrepreneur dies after CO...
14663  3.457221e+07  When the quarantine is done. #StayAtHomeOrder ...
14664  2.350223e+09  As we gear up to celebrate the #LunarNewYear i...
14665  2.400700e+07  RT if you have decided that 35,000 human being...

[14666 rows x 2 columns]

# Analysis

In [38]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import emoji

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [39]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])
#demoji.download_codes()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [40]:
non_rep['text_duplicate'] = non_rep['text']

In [41]:
non_rep

,user_id,text,text_duplicate
0,2.249838e+08,My nieces and nephews made this little FedEx t...,My nieces and nephews made this little FedEx t...
1,1.546276e+07,@futurism Perhaps it’s worth journalists refra...,@futurism Perhaps it’s worth journalists refra...
2,7.515093e+17,#ICYMI: The #SilverSpring Arts &amp; Entertain...,#ICYMI: The #SilverSpring Arts &amp; Entertain...
3,2.585715e+09,@_DCHealth latest #coronavirus numbers as of 1...,@_DCHealth latest #coronavirus numbers as of 1...
4,1.857387e+08,RTC reducing residential bus service amid 30-d...,RTC reducing residential bus service amid 30-d...
...,...,...,...
14661,5.124157e+07,"BREAKING: Dow surges more than 2,000 points, i...","BREAKING: Dow surges more than 2,000 points, i..."
14662,4.073066e+08,"Detroit consultant, entrepreneur dies after CO...","Detroit consultant, entrepreneur dies after CO..."
14663,3.457221e+07,When the quarantine is done. #StayAtHomeOrder ...,When the quarantine is done. #StayAtHomeOrder ...
14664,2.350223e+09,As we gear up to celebrate the #LunarNewYear i...,As we gear up to celebrate the #LunarNewYear i...
14665,2.400700e+07,"RT if you have decided that 35,000 human being...","RT if you have decided that 35,000 human being..."

In [42]:
#Convert to lower case
non_rep['text'] = non_rep['text'].str.lower()

In [43]:
#Removing emojis
def demoji(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
                               "]+", flags=re.UNICODE)
    return(emoji_pattern.sub(r'', text))

non_rep[u'text'] = non_rep[u'text'].astype(str)
non_rep[u'text'] = non_rep[u'text'].apply(lambda x:demoji(x))

In [44]:
#Remove URLs
non_rep['text'] = non_rep['text'].str.replace(r"http\S+| www\S+| https\S+| \S+\.com\S+| \S+\.com", "", regex=True)

In [45]:
#Remove user @
non_rep['text'] = non_rep['text'].str.replace(r'\@[\w]+', "", regex=True)

In [46]:
#Remove punctuations
non_rep['text'] = non_rep['text'].str.translate(str.maketrans("", "", string.punctuation))

In [47]:
#More Cleaning
non_rep['text']=non_rep['text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [48]:
#Tokenizing
non_rep.text = non_rep.text.astype(str)
non_rep['tokenized_text'] = non_rep.apply(lambda row: nltk.word_tokenize(row.text), axis=1)

# remove stopwords
non_rep['filtered_text'] = non_rep['tokenized_text'].apply(lambda x: [word for word in x if word not in stop_words])

In [49]:
#Stemming
ps = PorterStemmer()
non_rep['stemmed_text'] = non_rep['filtered_text'].apply(lambda x: [ps.stem(y) for y in x])

In [50]:
#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [51]:
#Lemmatizing
lemmatizer = WordNetLemmatizer()
non_rep['lemmatized_text'] = non_rep['filtered_text'].apply(lambda x: [lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in x])

In [52]:
#Joining the lemmetized tokens to form string
non_rep['final'] = non_rep['lemmatized_text'].apply(lambda x: " ".join([word for word in x]))

In [53]:
#Remove punctuations
non_rep['final'] = non_rep['final'].str.translate(str.maketrans("", "", string.punctuation))
non_rep['final'] = non_rep['final'].str.replace("’", '').str.replace("“", '').str.replace("”", '')
#non_rep['text'] = non_rep['text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')
non_rep['final'] = non_rep['final'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [54]:
non_rep.drop_duplicates(['final']).shape

(13846, 8)

In [55]:
non_rep = non_rep.drop_duplicates(['final']).reset_index(drop=True)

In [56]:
non_rep.shape

(13846, 8)

In [57]:
non_rep

,user_id,text,text_duplicate,tokenized_text,filtered_text,stemmed_text,lemmatized_text,final
0,2.249838e+08,my nieces and nephews made this little fedex t...,My nieces and nephews made this little FedEx t...,"[my, nieces, and, nephews, made, this, little,...","[nieces, nephews, made, little, fedex, truck, ...","[niec, nephew, made, littl, fedex, truck, to, ...","[niece, nephew, make, little, fedex, truck, to...",niece nephew make little fedex truck to delive...
1,1.546276e+07,perhaps it’s worth journalists refraining from...,@futurism Perhaps it’s worth journalists refra...,"[perhaps, it, ’, s, worth, journalists, refrai...","[perhaps, ’, worth, journalists, refraining, f...","[perhap, ’, worth, journalist, refrain, from, ...","[perhaps, ’, worth, journalist, refrain, from,...",perhaps worth journalist refrain from state o...
2,7.515093e+17,icymi the silverspring arts amp entertainment ...,#ICYMI: The #SilverSpring Arts &amp; Entertain...,"[icymi, the, silverspring, arts, amp, entertai...","[icymi, the, silverspring, arts, amp, entertai...","[icymi, the, silverspr, art, amp, entertain, d...","[icymi, the, silverspring, art, amp, entertain...",icymi the silverspring art amp entertainment d...
3,2.585715e+09,latest coronavirus numbers as of 1930 today it...,@_DCHealth latest #coronavirus numbers as of 1...,"[latest, coronavirus, numbers, as, of, 1930, t...","[latest, coronavirus, numbers, 1930, today, ’,...","[latest, coronaviru, number, 1930, today, ’, l...","[late, coronavirus, number, 1930, today, ’, lo...",late coronavirus number 1930 today low slow b...
4,1.857387e+08,rtc reducing residential bus service amid 30da...,RTC reducing residential bus service amid 30-d...,"[rtc, reducing, residential, bus, service, ami...","[rtc, reducing, residential, bus, service, ami...","[rtc, reduc, residenti, bu, servic, amid, 30da...","[rtc, reduce, residential, bus, service, amid,...",rtc reduce residential bus service amid 30day ...
...,...,...,...,...,...,...,...,...
13841,7.131430e+05,trust us,trust us 😏 https://t.co/8DkKuOBWlR,"[trust, us]","[trust, us]","[trust, us]","[trust, u]",trust u
13842,5.124157e+07,breaking dow surges more than 2000 points its ...,"BREAKING: Dow surges more than 2,000 points, i...","[breaking, dow, surges, more, than, 2000, poin...","[breaking, dow, surges, 2000, points, biggeste...","[break, dow, surg, 2000, point, biggestev, poi...","[break, dow, surge, 2000, point, biggestever, ...",break dow surge 2000 point biggestever point g...
13843,4.073066e+08,detroit consultant entrepreneur dies after cov...,"Detroit consultant, entrepreneur dies after CO...","[detroit, consultant, entrepreneur, dies, afte...","[detroit, consultant, entrepreneur, dies, covi...","[detroit, consult, entrepreneur, die, covid19,...","[detroit, consultant, entrepreneur, dy, covid1...",detroit consultant entrepreneur dy covid19 dia...
13844,3.457221e+07,when the quarantine is done stayathomeorder,When the quarantine is done. #StayAtHomeOrder ...,"[when, the, quarantine, is, done, stayathomeor...","[the, quarantine, done, stayathomeorder]","[the, quarantin, done, stayathomeord]","[the, quarantine, do, stayathomeorder]",the quarantine do stayathomeorder
13845,2.400700e+07,rt if you have decided that 35000 human beings...,"RT if you have decided that 35,000 human being...","[rt, if, you, have, decided, that, 35000, huma...","[rt, decided, 35000, human, beings, killed, ca...","[rt, decid, 35000, human, be, kill, car, accid...","[rt, decide, 35000, human, being, kill, car, a...",rt decide 35000 human being kill car accident ...

In [58]:
cols = [0,2, 7]
data_final = non_rep[non_rep.columns.values[cols]]
data_final.to_csv('/home/manikya_varshney/Documents/Python/Yale/All Graphs/Jan-Feb-Mar/Jan-Feb-Mar-Data/March/March24th.csv',index=False)